.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "League Spartan", sans-serif;
  font-weight: 200;
}

.modalContent {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  min-width: 300px;

  .modalh2 {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 21.79px;
    color: var(--text-primary);
    margin-bottom: 1rem;
  }

  .modalP {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 1.5rem;
    font-size: 16px;
    line-height: 17.71px;
    color: var(--text-secondary);
  }

  .modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;

    button {
      padding: 10px 15px;
      border-radius: 8px;
      font-family: "SF Pro Display", sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 17.71px;
      cursor: pointer;
      transition: all 0.3s ease;
      background-color: white;
    }

    .deleteBtnModal {
      border: 1px solid var(--error);
      color: var(--error);

      &:hover {
        background-color: var(--error);
        color: white;
      }
    }

    .successBtnModal {
      border: 1px solid green;
      color: green;

      &:hover {
        background-color: green;
        color: white;
      }
    }

    .cancelBtnModal {
      border: 1px solid var(--primary);
      color: var(--primary);

      &:hover {
        background-color: var(--primary);
        color: white;
      }
    }
  }
}