.dragComponentWrapper {
    overflow-x: auto;
    position: relative;
    width: 100%;
    cursor: grab;

    /* Hide default scrollbar */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    /* Custom scrollbar */
    &.customScroll {
        &::-webkit-scrollbar {
            display: block;
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 4px;

            &:hover {
                background: #555;
            }
        }
    }

    &:active {
        cursor: grabbing;
    }
}

.overflowControl {
    display: flex;
    transition: transform 0.1s ease;
}

.pill {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}