.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.avatarInitials {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}