.calendar {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
  min-width: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #2956a8;

  color: #fff;
}

.navButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.navButton:hover {
  transform: scale(1.2);
}

.currentMonth {
  font-size: 18px;
  font-weight: 600;
}

.daysOfWeek {
  display: flex;
  background-color: #f0f0f0;
  padding: 8px 0;
}

.dayOfWeek {
  flex: 1;
  text-align: center;
  font-weight: 600;
  color: #333;
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.day,
.emptyDay {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.disabledDay {
  color: lightgray;
}

.sunday {
  color: #e77878;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
