.calendar {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
  min-width: 25rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  background-color: #2956a8;
  color: #fff;
  width: 100%;
}

.navButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.currentMonth {
  font-size: 18px;
  font-weight: 600;
}

.daysOfWeek {
  display: flex;
  background-color: #f0f0f0;
  padding: 8px 0;
}

.dayOfWeek {
  flex: 1;
  text-align: center;
  font-weight: 600;
  color: #333;
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.day,
.emptyDay {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  position: relative;

  &:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
}

.disabledDay {
  color: lightgray;
  pointer-events: none;
}

.sunday {
  color: #e77878;
}

.selectedDay {
  background-color: var(--primary);
  color: #fff;
}

// Enhanced row-based border radius handling
.startSelectedDay {
  @extend .selectedDay;

  &.inRange {
    background-color: var(--primary);
  }
}

.endSelectedDay {
  @extend .selectedDay;

  &.inRange {
    background-color: var(--primary);
  }
}

.inRange {
  background-color: #80cae8;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.calendarContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dateRangeSelector {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 100;
  right: 0;
  top: 30px;

  @media (max-width: 430px) {
    position: fixed;
    top: 30%;
    margin: 10px;
  }
}

.sunday {
  color: red;
}
