@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.skeletonItem {
  background: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
  background-size: 800px 104px;
  animation: shimmer 2s infinite linear;
  border-radius: 4px;
}

.small {
  width: 80px;
  height: 16px;
}

.medium {
  width: 120px;
  height: 20px;
}

.large {
  width: 200px;
  height: 24px;
}

.fullWidth {
  width: 100%;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}
