.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--primary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.small {
    .loader {
        width: 20px;
        height: 20px;
    }
}

.medium {
    .loader {
        width: 40px;
        height: 40px;
    }
}

.large {
    .loader {
        width: 60px;
        height: 60px;
    }
}