.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s forwards;
    opacity: 0;
    z-index: 2000;
    // overflow: hidden;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .modalContent {
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: slideIn 0.3s forwards;
    transform: translateY(-30px);
    opacity: 0;
    // overflow: hidden;
  }

  .modalContentMinimal {
    border-radius: 20px;
    overflow: hidden;
  }
  
  @keyframes slideIn {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .closeButton {
    position: sticky;
    top: 0;
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
  }
  
  .modalBody {
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px;
  }
  
  .modalBodyMinimal {
    padding: 0;
    border-radius: inherit;
  }

