.main {
  background-color: #2956a8;

  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: calc(104px + 8rem);
    padding: 0 1rem 0 3rem;

    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      .heading {
        font-size: calc(var(--variable) * 2.5);
        line-height: calc(var(--variable) * 2.2);
      }

      .title {
        font-size: calc(var(--variable) * 3.8);
        line-height: calc(var(--variable) * 4);
      }
    }

    .img {
      img {
        width: calc(var(--variable) * 10);
      }
    }

    @media (max-width: 450px) {
      .cardContainer {
        gap: 0px !important;
      }
    }
  }

  .freelance {
    .img {
      width: 100%;
      margin: 0;
      padding-right: 2px;
      display: block;
    }

    .background {
      background-color: #e6e3e1 !important;
      width: 100%;
      height: auto;
      min-height: calc(100vh - 80px);

      .categoriesForm {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: calc(var(--variable) * 1.6);
        gap: calc(var(--variable) * 2.4);
        padding: calc(var(--variable) * 2.4);
        margin-bottom: 4rem;

        .categoriesHead {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: calc(var(--variable) * 2.4);

          .notification {
            background-color: #fcecc0;
            padding: calc(var(--variable) * 1) calc(var(--variable) * 1.8);
            gap: calc(var(--variable) * 1);
            font-size: calc(var(--variable) * 1.6);
            line-height: calc(var(--variable) * 1.7);
            border-radius: calc(var(--variable) * 6.4);
          }

          .headerButton {
            font-size: calc(var(--variable) * 1.6);
            line-height: calc(var(--variable) * 2);
            color: var(--primary);
            cursor: pointer;

            @media (max-width: 768px) {
              display: none;
            }
          }
        }

        .categoriesContainer {
          display: flex;
          gap: calc(var(--variable) * 2.4);
          flex-wrap: wrap;

          .categories {
            flex: 0 0 calc(33.333% - calc(var(--variable) * 1.6)); // 3 items per row
            max-width: calc(33.333% - calc(var(--variable) * 1.6));
            display: flex;
            flex-direction: row;
            border-radius: calc(var(--variable) * 1.6);
            border: 1px solid #d7d6d6;
            padding: calc(var(--variable) * 2.4);
            gap: calc(var(--variable) * 1.6);
            justify-content: center;

            &.selected {
              background-color: #3168cb;
              color: #fff;
              border: none;
            }

            &:hover {
              cursor: pointer;
            }

            .categoriesImg {
              justify-content: center;
            }

            .categoriesDetails {
              display: flex;
              flex-direction: column;
              gap: calc(var(--variable) * 0.8);

              .categoriesTitle {
                font-size: calc(var(--variable) * 2.4);
                line-height: calc(var(--variable) * 2.9);
                color: #231f20;

                &.selected {
                  color: #fff;
                }
              }

              .categoriesContent {
                font-size: calc(var(--variable) * 1.8);
                line-height: calc(var(--variable) * 2.2);
                color: #898182;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;

                &.selected {
                  color: #fff;
                }
              }
            }

            @media (max-width: 768px) {
              flex: 0 0 calc(50% - calc(var(--variable) * 1.2));
              max-width: calc(50% - calc(var(--variable) * 1.2));
            }

            @media (max-width: 1150px) {
              flex-wrap: wrap;
            }
          }
        }

        .confirmButton {
          display: flex;
          justify-content: center;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary);
            border: none;
            color: white;
            font-size: calc(var(--variable) * 2);
            padding: calc(var(--variable) * 1.8) calc(var(--variable) * 2.8);
            gap: calc(var(--variable) * 0.8);
            border-radius: calc(var(--variable) * 3);
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #234589;
            }

            svg {
              width: calc(var(--variable) * 1.8);
              height: calc(var(--variable) * 1.8);
            }
          }

          @media (max-width: 768px) {
            display: none;
          }
        }

        .phone {
          display: none;

          @media (max-width: 768px) {
            display: flex;
          }
        }
      }
    }
  }
}

.errorMessage {
  color: #ff0000;
  font-size: calc(var(--variable) * 1.4);
  text-align: center;
  display: block;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}


