.optionsModal {
  position: absolute;
  top: 30px;
  right: -10px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 70px;
  padding: 8px 4px;
  transition: all 1s ease;

  * {
    transition: all 1s ease;
  }
}

.modalItem {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 17.71px;
  text-align: center;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #f9f5f5;
  }
}

.resit {
  color: crimson;
}

.lost {
  color: #b22828;
}
