     .searchBar {
         display: flex;
         flex-direction: row;
         padding: 8px 0 8px 16px;
         background-color: white;
         border-radius: 32px;
         width: 320px;
         align-items: center;
         gap: 8px;

         input {
             border: none;
             outline: none;
             background: none;
             width: 100%;
             font-family: "SF Pro Text", sans-serif;
             line-height: 18px;
             font-size: 13px;
             font-weight: 400;

             &::placeholder {
                 color: #B0ACAC;
             }
         }

         .filterImg {
             &:hover {
                 background: #ece8e5;
                 border-radius: 50%;
                 width: 10px;
                 height: 10px;
             }
         }

         .dropCont {
             border-left: 1px solid #B0ACAC;
         }
     }

     .spinner {
         width: 16px;
         height: 16px;
         border: 2px solid #f3f3f3;
         border-top: 2px solid #3498db;
         border-radius: 50%;
         animation: spin 1s linear infinite;
     }

     @keyframes spin {
         0% {
             transform: rotate(0deg);
         }

         100% {
             transform: rotate(360deg);
         }
     }