.timeline {
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.animateItem {
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.timelineCircle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2956a8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SF Pro Display";
    font-weight: 500;
    font-style: normal;
    font-size: 10px;
    cursor: pointer;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.timelineControls {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.timelineHeadline {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    line-height: 17.71px;
    color: #766d6d;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.timelineButton {
    border: 1px solid #2956a8;
    color: #2956a8;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 4px 8px 4px 8px;
    gap: 2px;
    align-items: center;
    font-family: "SF Pro Display";
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }

    &:hover {
        background-color: #2956a8;
        color: #fff;
        transition: 0.6s ease;
    }
}

.timelineItem {
    position: relative;
    padding-left: 40px;
    /* Space for the icon */
    margin-bottom: 40px;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.timelineIcon {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 90;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.timelineContent {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.timelineLabel {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    line-height: 17.71px;
    color: #1D1D1D;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.timelineDate {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-style: normal;
    font-size: 10px;
    line-height: 13.62px;
    color: #9C9797;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.timelineConnector {
    position: absolute;
    width: 1px;
    top: 26px;
    left: 10px;
    height: 39px;
    z-index: 7;
    background: #9c9797;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }
}

.resetTimeline {
    font-family: "SF Pro Display";
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    line-height: 17.71px;
    color: #B22828;
    transition: all 1s ease;

    * {
        transition: all 1s ease;
    }

    cursor: pointer;
}