.legend {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .legendRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    .circle {
        border-radius: 50%;
        width: 18px;
        height: 18px;
        min-width: 18px;
    }

    .legendText {
        font-family: "SF Pro Text", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #383233;
    }
}