.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 16px;
  width: 100%;

  .headTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    .titleBox {
      display: flex;
      flex-direction: column;
      padding: 18px 0;

      .back {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 17.71px;
        color: var(--primary);
        cursor: pointer;
      }

      .pageTitle {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 600;
        font-size: calc(var(--variable) * 3.1);
        line-height: calc(var(--variable) * 4.22);
        line-height: 32px;
        color: #2c323f;

        @media (max-width: 768px) {
          font-size: 3.1rem;
          line-height: 4.22rem;
        }
      }

      @media (max-width: 768px) {
        padding: 4px 0;
      }
    }

    .addEmployee {
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      background-color: var(--primary);
      padding: 10px 12px;
      gap: 8px;
      cursor: pointer;

      .addText {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.41px;
        color: #fff;
      }

      @media (max-width: 768px) {
        padding: 8px 16px;
      }

      &:hover {
        background: #1e56bc;
      }
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .belowContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .counterCards {
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 100%;

      .card {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background-color: #fff;
        padding: 16px;
        flex: 1;

        .cardTitle {
          font-family: "SF Pro Display", sans-serif;
          font-weight: 600;
          font-size: 13px;
          line-height: 17.71px;
          color: #383233;

          @media (max-width: 768px) {
            font-size: 10px;
            line-height: 13.62px;
          }
        }

        .cardValue {
          font-family: "SF Pro Display", sans-serif;
          font-weight: 600;
          font-size: 31px;
          line-height: 42.22px;
          color: #231f20;
        }
      }

      @media (max-width: 350px) {
        flex-direction: column;
      }
    }

    .selectedPMList {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 1.6rem;

      .selectedPMItem {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        padding: 6px 16px;
        border-radius: 30px;
        border: 1px solid #c2c2c2;

        .pmName {
          font-family: "SF Pro Display", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: var(--primary);
        }

        .removePM {
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 768px) {
    top: calc(16rem + 6px);
    position: relative;
    min-width: -webkit-fill-available;
  }
}

.tableWrapper {
  width: 100%;
  overflow: hidden;

  .tableUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: 768px) {
      gap: 8px;
    }
  }
}

.tableHeader {
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #5b5b5b;
  margin: 1rem 0;
}

.assignmentsGrid {
  width: 100%;
  height: 470px;
  font-family: "SF Pro Text", sans-serif;
  border-radius: 8px;
}

.paginationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.paginationRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paginationControls span {
  font-size: small;
}

.paginationControls button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.paginationControls button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pageSizeSelector span {
  font-size: small;
}

.pageSizeSelector select {
  margin: 0 0.5rem;
  padding: 0.25rem;
}

.navLeft img {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 8px;
  border-radius: 9999px;
  cursor: pointer;
  margin-left: 7px;
  margin-right: 7px;
}

/* In your CSS module */
.tableSelect {
  // -webkit-appearance: none; /* For Chrome, Safari, Edge */
  // -moz-appearance: none; /* For Firefox */
  text-align: center;
  appearance: none;
  /* Standard syntax */
  border: #e0e0e0 1px solid;
  border-radius: 5px;
  padding: 8px;
}

.tableSelectEntries {
  // -webkit-appearance: none; /* For Chrome, Safari, Edge */
  // -moz-appearance: none; /* For Firefox */
  text-align: center;
  appearance: none;
  /* Standard syntax */
  border: #e0e0e0 1px solid;
  border-radius: 5px;
  padding: 4px;
}

.show,
.entries {
  font-size: small;
  margin-left: 5px;
  margin-right: 5px;
}

.statusFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: space-between;
}

.datePickerContainer {
  position: relative;
  display: inline-block;
  margin-right: 8px;

  .datePickerBox {
    height: 38px;
    min-width: 180px;
    padding: 0 12px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 14px;
    color: #444444;

    .datePickerText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 15px; // Add space for the reset button
      max-width: 85%;
    }

    .calendarIcon {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }

  .resetDateBtn {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 12px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #333;
    }
  }

  .calendarPopup {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: white;
  }
}

@media screen and (max-width: 768px) {
  .tableWrapper {
    width: 100%;
    overflow-x: auto;
  }

  .filtersContainer {
    flex-direction: column;
    gap: 10px;

    .statusFilter {
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}