.mainContent {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 0;
    width: 100%;
    gap: 16px;

    .header {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

        .headerText {
            display: flex;
            flex-direction: column;

            .headerText1 {
                color: var(--primary);
                font-size: 13px;
                line-height: 17.71px;
                font-weight: 500;
                font-family: "SF Pro Text", sans-serif;
                cursor: pointer;
            }

            .headerText2 {
                color: #2C323F;
                font-size: 31px;
                line-height: 42.22px;
                font-weight: 600;
                font-family: "SF Pro Text", sans-serif;

                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 27.24px;
                }
            }
        }

        .headerButtonsRow {
            display: flex;
            flex-direction: row;
            gap: 16px;
            flex-wrap: wrap;

            .headerButtonsEdit {
                border: var(--primary) 1px solid;
                border-radius: 0.8rem;
                padding: 10px 28px;
                font-size: 13px;
                line-height: 17.71px;
                color: var(--primary);
                cursor: pointer;
                font-family: "SF Pro Text", sans-serif;
            }

            .headerButtonsDelete {
                border-radius: 0.8rem;
                padding: 10px 28px;
                font-size: 13px;
                line-height: 17.71px;
                cursor: pointer;
                font-family: "SF Pro Text", sans-serif;
                border: #B22B28 1px solid;
                background-color: #B22B28;
                color: #FFF;
                opacity: 90%;

                &:hover {
                    opacity: 100%;
                }
            }

            .headerButtonsEdit {
                background-color: var(--primary);
                color: white;
                opacity: 95%;

                &:hover {
                    opacity: 100%;
                }
            }

            .assignmentNavigation {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                .arrowLeft,
                .arrowRight {
                    display: flex;
                    justify-content: center;
                    gap: 8px;
                    align-items: center;
                    padding: 8px;
                    background: #fff;
                    border-radius: 32px;
                    cursor: pointer;

                    .arrowCont {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "SF Pro Display", sans-serif;
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 17.71px;
                        color: #2c323f;
                    }
                }

                .assignmentPgNo {
                    font-family: "SF Pro Display", sans-serif;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 17.71px;
                    color: #2c323f;
                }
            }
        }
    }

    .containerWidth {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1rem 1rem 0 1rem;

        .profile {
            background-color: white;
            border-radius: 1.6rem;
            padding: 1.6rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                padding: 0.8rem;
            }

            .profileRow {
                display: flex;
                flex-direction: row;
                gap: 1.6rem;

                .profileImg {
                    .img {
                        background: #F3BE2E;
                        border-radius: 50%;
                        padding: calc(var(--variable)*0.5);

                        img {
                            width: calc(var(--variable)*7.5);
                            height: calc(var(--variable)*7.5);
                        }
                    }
                }

                .profileNames {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .status {
                        border-radius: 2rem;
                        border: 0.1rem #58a55d solid;
                        background-color: #d8e8e6;
                        color: #00510d;
                        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
                        gap: 0.4rem;
                        font-family: "SF Pro Text", sans-serif;
                        font-size: 9px;
                        line-height: 10px;
                        width: max-content;
                        font-weight: 600;
                    }

                    .proName {
                        color: #1d1d1d;
                        font-family: "SF Pro Text", sans-serif;
                        font-weight: 600;
                        font-size: 39px;
                        line-height: 53px;

                        @media (max-width: 768px) {
                            font-size: 20px;
                            line-height: 27.24px;
                        }
                    }

                    .sinceDate {
                        color: #afafaf;
                        font-size: 13px;
                        line-height: 17.71px;
                        font-family: "SF Pro Text", sans-serif;
                        font-weight: 400;

                        @media (max-width: 768px) {
                            font-size: 9px;
                            line-height: 12px;
                        }
                    }
                }
            }

            .role {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .headingRole {
                    color: #AFAFAF;
                    font-size: 13px;
                    line-height: 17px;
                    font-family: "SF Pro Text", sans-serif;
                    font-weight: 400;
                }

                .roleValue {
                    color: #1D1D1D;
                    font-size: 14px;
                    line-height: 20px;
                    font-family: "SF Pro Text", sans-serif;
                    font-weight: 600;
                }

                @media (max-width: 300px) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .personalDetails,
            .familyDetails {
                display: flex;
                flex-direction: column;
                padding: 16px;
                background-color: #fff;
                border-radius: 16px;
                gap: 16px;
                // width: 100%;

                .personalDetailsHeader,
                .familyDetailsHeader {
                    font-size: 13px;
                    line-height: 17.71px;
                    font-family: "SF Pro Text", sans-serif;
                    font-weight: 600;
                    color: #766D6D;
                }

                .rowContainer {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    padding: 4px 8px;

                    .rowfield {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;

                        .fieldName {
                            font-size: 13px;
                            line-height: 17.71px;
                            font-family: "SF Pro Text", sans-serif;
                            font-weight: 400;
                            color: #828282;
                        }

                        .fieldValue {
                            font-size: 15px;
                            line-height: 20.79px;
                            font-family: "SF Pro Text", sans-serif;
                            font-weight: 600;
                            color: #1D1D1D;

                            .telmailtofnc {
                                word-break: break-word;
                            }

                            @media (max-width: 768px) {
                                font-size: 14px;
                                line-height: 17.71px;
                            }
                        }
                    }

                    @media (max-width: 768px) {
                        flex-wrap: wrap;

                        .rowfield {
                            flex-wrap: wrap;
                            width: calc(50% - 8px);

                            &:last-child:nth-child(odd) {
                                width: 100%;
                            }
                        }
                    }

                    @media (max-width: 300px) {
                        .rowfield {
                            width: 100%;
                        }
                    }
                }
            }

            .contactMob {
                display: none;

                @media (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    width: 100%;
                    margin-bottom: 2rem;

                    .projectManager {
                        display: flex;
                        flex-direction: column;
                        background-color: #fff;
                        border-radius: 1.6rem;
                        gap: calc(var(--variable) * 1.6);
                        padding: calc(var(--variable) * 1.6);
                        width: 100%;

                        .head {
                            font-size: 13px;
                            line-height: 17.71px;
                            font-family: "SF Pro Text", sans-serif;
                            font-weight: 600;
                            color: #766D6D;
                        }

                        .bio {
                            font-size: 12px;
                            line-height: 15px;
                            font-family: "SF Pro Text", sans-serif;
                            font-weight: 400;
                            color: #766D6D;
                        }

                        .pmDetails {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            .detailBox {
                                display: flex;
                                flex-direction: column;
                                padding: 8px 0;

                                .detailLabel {
                                    font-family: "SF Pro Text", sans-serif;
                                    font-size: 10px;
                                    line-height: 13.62px;
                                    font-weight: 400;
                                    color: #766D6D;
                                }

                                .detailValue {
                                    font-family: "SF Pro Text", sans-serif;
                                    font-size: 13px;
                                    line-height: 17.71px;
                                    font-weight: 600;
                                    color: #1D1D1D;
                                }
                            }
                        }

                        .iconBox {
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;
                            justify-content: center;
                            position: relative;

                            .absBox {
                                display: flex;
                                flex-direction: row;
                                position: absolute;
                                align-items: center;
                                justify-content: center;
                                gap: 2rem;
                                transform: translateY(-18%);

                                .logoIcon {
                                    display: flex;
                                    background-color: #f8d881;
                                    border-radius: 50%;
                                    width: 5rem;
                                    height: 5rem;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        width: 2rem;
                                        height: 2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media (max-width: 1000px) {
                flex-direction: column;
            }
        }

        @media (max-width: 1000px) {
            width: 100%;
            gap: 1.6rem;
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
    }

    .otherCont {
        width: 100%;
        gap: 16px;
        display: flex;
        flex-direction: column;
        padding: 0 1rem;

        .leaveDetails {
            display: flex;
            flex-direction: column;
            border-radius: 16px;
            padding: 16px;
            gap: 16px;
            background-color: #fff;

            .leaveHead {
                font-size: 13px;
                line-height: 17.71px;
                font-family: "SF Pro Text", sans-serif;
                font-weight: 600;
                color: #766D6D;
            }

            .detailsRow {
                display: flex;
                flex-direction: row;
                gap: 16px;
                justify-content: space-between;

                .detaisField {
                    display: flex;
                    flex-direction: column;
                    padding: 4px 8px;

                    .fieldName {
                        font-size: 13px;
                        line-height: 17.71px;
                        font-family: "SF Pro Text", sans-serif;
                        font-weight: 400;
                        color: #828282;
                    }

                    .fieldValue {
                        font-size: 16px;
                        line-height: 21.79px;
                        font-family: "SF Pro Text", sans-serif;
                        font-weight: 600;
                        color: #1D1D1D;
                    }
                }
            }
        }

        .betweenTitile {
            // color: #2C323F;
            font-size: 20px;
            line-height: 27.24px;
            color: #766D6D;
            // font-size: 13px;
            // line-height: 17.71px;
            font-weight: 600;
            font-family: "SF Pro Text", sans-serif;
        }

        .totalCounterMarksContainer {
            display: flex;
            flex-direction: row;
            gap: 16px;
            width: 100%;

            .cardCont {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 30%;

                .card {
                    display: flex;
                    flex-direction: column;
                    border-radius: 16px;
                    padding: 16px;
                    background-color: #fff;
                    width: 100%;
                    height: 100%;
                    justify-content: center;

                    .cardTitle {
                        font-family: "SF Pro Display", sans-serif;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 21.79px;
                        color: #383233;
                    }

                    .cardValue {
                        font-family: "SF Pro Display", sans-serif;
                        font-weight: 600;
                        font-size: 39px;
                        line-height: 53.12px;
                        color: #231F20;
                    }
                }

                @media (max-width: 985px) {
                    width: 100%;
                    flex-direction: row;
                }

                @media (max-width: 300px) {
                    width: 100%;
                    flex-direction: column;
                }
            }

            .marksDistribution {
                background-color: #fff;
                border-radius: 16px;
                gap: 16px;
                padding: 16px;
                width: 70%;

                .head {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;

                    .title {
                        font-size: 16px;
                        line-height: 21px;
                        font-family: "SF Pro Display", sans-serif;
                        font-weight: 600;
                    }

                    .filterRow {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .refresh {
                        cursor: pointer;
                    }

                    @media (max-width:648px) {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16px;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 16px;

                    .speedometerWrapper {
                        @media (max-width:768px) {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transform: translateY(-15%);
                        }

                    }

                    .line {
                        background-color: #E0E0E0;
                        width: 1px;
                        margin: 2rem;

                        @media (max-width:648px) {
                            transform: rotate(180deg);
                            height: 1px;
                            width: 100%;
                            margin: 1rem auto;
                        }
                    }

                    .details {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;

                        .detailCont {
                            display: flex;
                            flex-direction: row;

                            .detailBox {
                                display: flex;
                                flex-direction: column;
                                padding: 16px;
                                width: 100%;

                                .labelDetail {
                                    font-size: 14px;
                                    line-height: 17.71px;
                                    font-family: "SF Pro Display", sans-serif;
                                    font-weight: 500;
                                    color: #766D6D;
                                }

                                .category {
                                    font-size: 25px;
                                    line-height: 34.05px;
                                    font-family: "SF Pro Display", sans-serif;
                                    font-weight: 600;
                                    color: #231F20;
                                }

                                .averageMarks {
                                    font-size: 25px;
                                    line-height: 34.05px;
                                    font-family: "SF Pro Display", sans-serif;
                                    font-weight: 600;
                                    color: #231F20;
                                }

                                .totalMarks {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: baseline;
                                    gap: 0.4rem;

                                    .numerator {
                                        font-size: 25px;
                                        line-height: 48px;
                                        font-family: "SF Pro Display", sans-serif;
                                        font-weight: 600;
                                        color: #231F20;
                                    }

                                    .denominator {
                                        font-size: 14px;
                                        line-height: 17px;
                                        font-family: "SF Pro Display", sans-serif;
                                        font-weight: 600;
                                        color: #383233;
                                    }
                                }
                            }
                        }
                    }

                    @media (max-width:648px) {
                        flex-direction: column;
                    }
                }

                @media (max-width:985px) {
                    width: 100%;
                }
            }

            @media (max-width: 985px) {
                flex-direction: column;
                width: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        top: calc(16rem + 6px);
        position: relative;
        min-width: -webkit-fill-available;
        padding: 2rem;
    }
}

.tableWrapper {
    width: 100%;
    overflow: hidden;

    .tableUpper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            gap: 8px;
        }
    }

}

.tableHeader {
    padding: 8px;
    font-family: "SF Pro Text", sans-serif;
    font-size: 14px;
    color: #5b5b5b;
    margin: 1rem 0;
}

.assignmentsGrid {
    width: 100%;
    height: 320px;
    font-family: "SF Pro Text", sans-serif;
    border-radius: 8px;
}

.paginationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .paginationLeft {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
    }
}

.paginationRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.paginationControls span {
    font-size: small;
}

.paginationControls button {
    margin: 0 0.25rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.paginationControls button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.pageSizeSelector span {
    font-size: small;
}

.pageSizeSelector select {
    margin: 0 0.5rem;
    padding: 0.25rem;
}

.navLeft img {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 8px;
    border-radius: 9999px;
    cursor: pointer;
    margin-left: 7px;
    margin-right: 7px;
}

/* In your CSS module */
.tableSelect {
    // -webkit-appearance: none; /* For Chrome, Safari, Edge */
    // -moz-appearance: none; /* For Firefox */
    text-align: center;
    appearance: none;
    /* Standard syntax */
    border: #e0e0e0 1px solid;
    border-radius: 5px;
    padding: 8px;
}

.tableSelectEntries {
    // -webkit-appearance: none; /* For Chrome, Safari, Edge */
    // -moz-appearance: none; /* For Firefox */
    text-align: center;
    appearance: none;
    /* Standard syntax */
    border: #e0e0e0 1px solid;
    border-radius: 5px;
    padding: 4px;
}

.show,
.entries {
    font-size: small;
    margin-left: 5px;
    margin-right: 5px;
}

.telmailtofnc {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;

    }
}

.notAvailable {
    color: #9a9fa7;
    font-size: 13px;
    line-height: 17.71px;
    font-family: "SF Pro Text", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.modalContent {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    font-size: medium;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.modalActions button {
    margin-left: 1.5rem;
}

.deleteBtnModal,
.approveBtnModal {
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    border: 1px #B22B28 solid;
    background-color: white;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 17.71px;
    color: #B22B28;
    cursor: pointer;
}

.deleteBtnModal:hover,
.approveBtnModal:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    border: 1px #B22B28 solid;
    background-color: #B22B28;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 17.71px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cancelBtnModal {
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    border: 1px var(--primary) solid;
    background-color: white;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 17.71px;
    color: var(--primary);
    cursor: pointer;
}

.cancelBtnModal:hover {
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    border: 1px var(--primary) solid;
    background-color: var(--primary);
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 17.71px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.modalh2 {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 21.79px;
    color: #B22B28;
}

.modalP {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 17.71px;
    color: #766d6d;
}

.headerButtonsPM {
    border: var(--primary) 1px solid;
    border-radius: 0.8rem;
    padding: 10px 28px;
    font-size: 13px;
    line-height: 17.71px;
    color: var(--primary);
    cursor: pointer;
    font-family: "SF Pro Text", sans-serif;

    @media (max-width: 768px) {
        font-size: 10px;
        line-height: 13.62px;
    }
}