.adminLogin {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .imgBox {
        border-radius: 20px;
        width: 50vw;
        padding: 0 10rem 0 0;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media (max-width:768px) {
                height: 200px;
            }
        }

        @media (max-width:768px) {
            width: 100%;
            padding: 0;
        }
    }

    .loginContainer {
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: center;
        justify-content: center;

        .loginBox {
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 24px;
            gap: 16px;

            .bluepenLogo {
                align-self: flex-start;
            }

            .welcomeBox {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;

                .header {
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 600;
                    font-size: 2.5rem;
                    line-height: 3.41rem;
                    color: #0C1421;

                    @media (max-width:768px) {
                        font-size: 2.8rem;
                        line-height: 3.8rem;
                    }
                }

                .subTitle {
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: #313957;

                    @media (max-width:768px) {
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                    }
                }
            }

            .inputContainer {
                display: flex;
                flex-direction: column;
                gap: 16px;
                width: 100%;

                .inputBox {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 8px;

                    .inputLabel {
                        font-family: "Noto Sans", sans-serif;
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        color: #0C1421;

                        @media (max-width:768px) {
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                        }
                    }

                    .inputField {
                        width: 100%;
                        border: 1px solid #D4D7E3;
                        background-color: #F3F7FB;
                        height: 42px;
                        width: 100%;
                        border-radius: 8px;
                        font-family: "Noto Sans", sans-serif;
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        color: #8897AD;
                        outline: none;
                        padding: 0 2rem;

                        @media (max-width:768px) {
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                            height: 30px;
                        }
                    }

                    .forgotPass {
                        font-family: "Noto Sans", sans-serif;
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                        color: #1E4AE9;
                        text-align: right;
                        cursor: pointer;

                        @media (max-width:768px) {
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                        }
                    }
                }

                .signIn {
                    padding: 10px 0;
                    display: flex;
                    justify-content: center;
                    background-color: #2956A8;
                    color: #fff;
                    border-radius: 12px;
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 2.2;
                    cursor: pointer;

                    @media (max-width:768px) {
                        font-size: 13px;
                        line-height: 17px;
                    }
                }

                .signupDiv {
                    display: flex;
                    gap: 3px;
                    justify-content: center;
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: #313957;
                    text-align: center;
                    margin-top: 8px;

                    span {
                        color: #1E4AE9;
                        cursor: pointer;
                    }

                    @media (max-width:768px) {
                        font-size: 1.8rem;
                        line-height: 2.4rem;
                    }
                }

                @media (max-width:768px) {
                    gap: 8px;
                }
            }

            @media (max-width:768px) {
                gap: 8px;
                padding: 24px;
                max-width: 100%;
            }
        }

        @media (max-width:768px) {
            width: 100%;
        }
    }

    @media (max-width:768px) {
        flex-direction: column;
        height: auto;
        width: auto;
        gap: 0;
    }
}