.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Text", sans-serif;
  padding: 2rem;

  .headTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    .titleBox {
      display: flex;
      flex-direction: column;
      padding: 18px 0;

      .back {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 17.71px;
        color: var(--primary);
        cursor: pointer;
      }

      .pageTitle {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 600;
        font-size: calc(var(--variable) * 3.1);
        line-height: calc(var(--variable) * 4.22);
        line-height: 32px;
        color: #2c323f;

        @media (max-width: 768px) {
          font-size: 3.1rem;
          line-height: 4.22rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    top: calc(16rem + 6px);
    position: relative;
    min-width: -webkit-fill-available;
  }

  .formcontainer {
    height: fit-content;
    background-color: #fff;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;

    @media (max-width: 768px) {
      width: 100%;
      border-radius: 10px;
      padding: 2rem;
    }

    .inputBox {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      border: 1px solid #e0e0e0;
      padding: 4px 8px;
      background-color: #fff;
      cursor: text;
      gap: 5px;
      // width: fit-content;
      @media (max-width: 768px) {
        width: 100% !important;
        border-radius: 10px;
        padding: 1rem;
      }

      .inputLabel {
        font-family: "SF Pro Text", sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 17.71px;
        color: #828282;
      }

      .input {
        font-family: "SF Pro Text", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #1d1d1d;
        border: none;
        width: 100%;
        height: 2rem;
        outline: none;

        &::placeholder {
          font-weight: 300;
          // font-size: 14px;
          color: gray;
        }
      }
      input:focus::placeholder {
        color: transparent;
      }
    }
    .addEmployee {
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      background-color: var(--primary);
      padding: 10px 12px;
      gap: 8px;
      cursor: pointer;
      width: fit-content;

      .addText {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.41px;
        color: #fff;
      }

      @media (max-width: 768px) {
        padding: 8px 16px;
      }

      &:hover {
        background: #1e56bc;
      }
    }
  }
}

.titleNForm {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
}

.footer {
  margin-top: 2rem;
}

.roleInputBox {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding: 4px 8px;
  background-color: #fff;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  @media (max-width: 768px) {
    width: 100% !important;
    border-radius: 10px;
    padding: 1rem;
  }

  &.open {
    .arrowImg {
      transform: rotate(180deg);
    }
  }

  .dropText {
    display: flex;
    flex-direction: column;

    .dropLabel {
      font-family: "SF Pro Text", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 17.71px;
      color: #828282;
    }

    .selectDrop {
      font-family: "SF Pro Text", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #1d1d1d;
    }
  }

  .dropdownOptions {
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.3rem;
    z-index: 10;
    color: #444444;

    li {
      padding: 6px 16px;
      font-family: "SF Pro text", sans-serif;
      font-size: calc(var(--variable) * 1.4);
      line-height: calc(var(--variable) * 1.7);
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
        border-radius: 4px;
      }

      @media (max-width: 768px) {
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.formDateNtype {
  display: flex;
  width: 100%;
  // justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.SelectStyle {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.71px;
  color: #828282;
}

.required {
  color: red;
  padding-left: 4px;
}

.select {
  color: gray;
  font-size: 14px;
  line-height: 17.71px;
  font-weight: 400;
}

.referralBox {
  position: absolute;
  top: 110%;
  right: 0;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-height: 300px;
  height: fit-content;
  width: 100%;
  overflow-y: scroll;
  gap: 0.5rem;

  .lineStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 35px;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--black);

    &:hover {
      // background-color: var(--secondary);
      background-color: var(--lightBlue);
    }
  }
}
.inputBox {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding: 4px 8px;
  background-color: #fff;
  cursor: text;
  gap: 5px;
  flex: 1;

  @media (max-width: 768px) {
    width: 100% !important;
  }

  .inputLabel {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17.71px;
    color: #828282;
  }

  .required {
    color: #ff4d4f;
    margin-left: 4px;
  }

  .input {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1d1d1d;
    border: none;
    width: 100%;
    height: 2rem;
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: r14px;
      color: gray;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      appearance: textfield;
      -moz-appearance: textfield;
    }
  }

  input:focus::placeholder {
    color: transparent;
  }
}

.roleRadioInputBox {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  padding: 4px 8px;
  background-color: #fff;
  gap: 5px;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100% !important;
  }

  &.open {
    .arrowImg {
      transform: rotate(180deg);
    }
  }

  .radioText {
    display: flex;
    flex-direction: row;

    .radioLabel,
    .required {
      font-family: "SF Pro Text", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 17.71px;
      color: #828282;
    }

    .required {
      color: #ff4d4f;
      margin-left: 4px;
    }

    .selectDrop {
      font-family: "SF Pro Text", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #1d1d1d;
    }
  }

  .dropdownOptions {
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.3rem;
    z-index: 10;
    color: #444444;

    li {
      padding: 6px 16px;
      font-family: "SF Pro text", sans-serif;
      font-size: calc(var(--variable) * 1.4);
      line-height: calc(var(--variable) * 1.7);
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
        border-radius: 4px;
      }

      @media (max-width: 768px) {
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }
  }

  @media (max-width: 768px) {
    width: max-content;
  }
}

.radio-label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px; // Adjust text size
  color: #333; // Text color
  cursor: pointer; // Make label clickable
}

.radioBtns {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    // margin-top: 8px;
    // margin-bottom: 8px;
    justify-content: center;
    //   gap: 0.5rem;
    font-size: 13px;
    font-weight: 500;
    color: gray;

    .customRadio {
      appearance: none;
      width: 18px;
      height: 18px;
      border: 2px solid #2956a8;
      border-radius: 50%;
      margin: 0;
      position: relative;
      cursor: pointer;

      &:checked {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background-color: #2956a8;
          border-radius: 50%;
        }
      }
    }
  }
}
