.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 16px;
  width: 100%;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;

    .titleBack {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .backBtn {
        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: calc(var(--variable) * 1.4);
        line-height: calc(var(--variable) * 1.8);
        background: none;
        color: var(--primary);
        border: none;
        cursor: pointer;
      }

      .title {
        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
        font-size: calc(var(--variable) * 3.2);
        line-height: calc(var(--variable) * 4.1);
        color: #2c323f;
      }
    }

    .generateBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #2956a8;
      color: white;
      border-radius: 0.8rem;
      padding: 1rem 1.2rem;
      gap: 0.8rem;
      border: none;
      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      font-size: calc(var(--variable) * 1.4);
      line-height: calc(var(--variable) * 1.8);
      cursor: pointer;
    }

    .submitBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #2956a8;
      color: white;
      border-radius: 0.8rem;
      padding: 1rem calc(var(--variable) * 3.5);
      gap: 0.8rem;
      border: none;
      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      font-size: calc(var(--variable) * 1.4);
      line-height: calc(var(--variable) * 1.8);
      cursor: pointer;
    }
  }

  .bottomContainer {
    .pillsDatePicker {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1.6rem;
      align-items: center;
      gap: 1.6rem;

      .datePickerBox {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        align-items: center;
        flex-wrap: wrap;

        .datePicker {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.8rem;
          background-color: #ffffff;
          color: #444444;
          padding: 4px 8px;
          border-radius: 8px;
          border: 1px solid #d7d6d6;
          cursor: pointer;
          position: relative;

          .datePickerName {
            font-family: "SF Pro Text", sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 17.71px;
          }

          .datePickerImg {
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;

            .selectedDate {
              font-size: 14px;
              color: #444;
            }
          }
        }

        .resetBtn {
          color: #b22828;
          font-family: "SF Pro Text", sans-serif;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          cursor: pointer;
        }
      }

      @media (max-width: 430px) {
        flex-wrap: wrap;
      }
    }

    .invoiceDetails {
      display: flex;
      flex-direction: row;
      gap: 1.6rem;

      .counters {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        width: 25%;
        justify-content: space-between;

        .invoiceWorth {
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1.6rem;
          padding: 1.6rem;
          width: 100%;
          height: 100%;
          justify-content: center;

          .worthDetails {
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: calc(var(--variable) * 1.8);
            line-height: calc(var(--variable) * 2.2);
            color: #383233;
          }

          .count {
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: calc(var(--variable) * 4.1);
            line-height: calc(var(--variable) * 5.3);
            color: #231f20;
          }

          .subText {
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            font-size: calc(var(--variable) * 1.6);
            line-height: calc(var(--variable) * 1.9);
            color: #383233;
          }
        }

        @media (max-width: 768px) {
          flex-direction: row;
          width: 100%;
        }

        @media (max-width: 270px) {
          flex-wrap: wrap;
        }
      }

      .assCounters {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        width: 55%;
        justify-content: space-between;

        .invoiceWorth {
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1.6rem;
          padding: 1.6rem;
          width: 100%;
          height: 100%;
          justify-content: center;

          .worthDetails {
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: calc(var(--variable) * 1.8);
            line-height: calc(var(--variable) * 2.2);
            color: #383233;
          }

          .count {
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: calc(var(--variable) * 4.1);
            line-height: calc(var(--variable) * 5.3);
            color: #231f20;
          }

          .subText {
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            font-size: calc(var(--variable) * 1.6);
            line-height: calc(var(--variable) * 1.9);
            color: #383233;
          }
        }

        @media (max-width: 1200px) {
          width: 100%;
        }

        @media (max-width: 270px) {
          flex-wrap: wrap;
        }
      }

      .chart {
        background: white;
        padding: 16px;
        border-radius: 1.6rem;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 75%;
        position: relative;

        .chartLegend {
          display: flex;
          flex-direction: row;
          gap: 32px;
          padding: 0 16px;
          justify-content: flex-end;
          flex-wrap: wrap;

          .legend {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            justify-content: center;

            .legendColor {
              width: 36px;
              border: 2px solid #2d6ce1;
              border-radius: 4px;
            }

            .legendColorDashed {
              width: 36px;
              background: #fff;
              border: 2px dashed #2d6ce1;
              border-radius: 8px;
            }

            .legendText {
              font-family: "SF Pro Text", sans-serif;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              color: #1d1d1d;
            }
          }

          @media (max-width: 400px) {
            gap: 8px;
            flex-wrap: wrap;
          }
        }

        @media (max-width: 768px) {
          width: 100%;
          // height: 40rem;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .notificationBar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.8rem 1.6rem;
      border-radius: 0.8rem;
      border: 1px solid #bf8e0b;
      background-color: #fcecc0;
      gap: 0.8rem;
      margin: 1.5rem 0;

      .notificationContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.8rem;

        .content {
          font-family: "Noto Sans", sans-serif;
          font-weight: 400;
          font-size: calc(var(--variable) * 1.5);
          line-height: calc(var(--variable) * 1.8);
          color: #383233;
        }
      }

      .crossBtn {
        border: none;
        background: none;
        cursor: pointer;
        align-self: self-end;
      }
    }
  }

  @media (max-width: 768px) {
    top: calc(16rem + 6px);
    position: relative;
  }
}

.tableWrapper {
  width: 100%;
  overflow: hidden;
  margin: 16px 0;

  .tableUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
    flex-wrap: wrap;

    .searchBar {
      display: flex;
      flex-direction: row;
      padding: 4px 8px;
      background-color: white;
      border: 1px solid #d7d6d6;
      border-radius: 8px;
      width: 480px;
      align-items: center;

      input {
        border: none;
        outline: none;
        background: none;
        width: 100%;
      }

      .filterImg {
        &:hover {
          background: #ece8e5;
          border-radius: 50%;
          width: 10px;
          height: 10px;
        }
      }
    }

    @media (max-width: 768px) {
      gap: 8px;
    }
  }
}

.tableHeader {
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #5b5b5b;
  margin: 1rem 0;
}

.assignmentsGrid {
  width: 100%;
  font-family: "SF Pro Text", sans-serif;
  border-radius: 8px;
  // max-height: 500px;
  overflow: hidden;
}

.calendarWrapperEnd,
.calendarWrapperStart {
  position: absolute;
  top: 100%;
  z-index: 1000;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 4px;
  display: flex;
}

.calendarWrapperStart {
  @media (max-width: 620px) {
    left: 0;
  }
}

.calendarWrapperEnd {
  @media (max-width: 300px) {
    right: -30%;
  }
}

.calendarExternal {
  max-width: 400px !important;
  min-width: 230px !important;
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: calc(var(--variable) * 2);
}

.welTitle {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: #1d1d1d;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 5rem;
  }
}

.drawerContent {
  height: 100%;
  padding: 1rem;
  z-index: 1000;
  overflow-y: auto;

  .tox-tinymce {
    height: 100vh !important;
  }

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.drawerFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  border-top: 1px solid #e0e0e0;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  justify-content: flex-end;
}

.closeFooterBtn {
  padding: 10px 16px;
  border: 1px solid #231f20;
  border-radius: 30px;
  cursor: pointer;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: #231f20;

  &:hover {
    background-color: #231f20;
    color: #fff;
  }
}

.assignBtn {
  padding: 10px 16px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 30px;
  cursor: pointer;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: #fff;
}

.buttonfield {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  padding: 4px 8px;

  .updatebutton {
    border: 1px solid var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-family: "SF Pro Text", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 17.71px;
    color: var(--primary);
    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: #fff;
    }
  }
}

.wordCountDrawer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  .inputBox {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    padding: 4px 8px;
    background-color: #fff;
    cursor: text;
    gap: 5px;
    // width: fit-content;
    flex: 1;

    @media (max-width: 768px) {
      width: 100% !important;
    }

    .inputLabel {
      font-family: "SF Pro Text", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 17.71px;
      color: #828282;
    }

    .required {
      color: #ff4d4f;
      margin-left: 4px;
    }

    .input {
      font-family: "SF Pro Text", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #1d1d1d;
      border: none;
      width: 100%;
      height: 2rem;
      outline: none;

      &::placeholder {
        font-weight: 400;
        font-size: r14px;
        color: gray;
      }

      // &::-webkit-outer-spin-button,
      // &::-webkit-inner-spin-button {
      //   -webkit-appearance: none;
      //   margin: 0;
      // }
      // &[type="number"] {
      //   appearance: textfield;
      //   -moz-appearance: textfield;
      // }

      // input::-webkit-outer-spin-button,
      // input::-webkit-inner-spin-button {
      //   -webkit-appearance: none;
      //   margin: 0;
      // }

      // /* Firefox */
      // input[type="number"] {
      //   -moz-appearance: textfield;
      // }
    }

    input:focus::placeholder {
      color: transparent;
    }
  }
}

.optionsModal {
  position: absolute;
  top: 35px;
  right: 20px;
  background: #fff;
  color: #b22828;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: start;
  width: max-content;
  z-index: 1000;
  padding: 8px 20px;

  .itemModal {
    color: var(--black);

    &:hover {
      background-color: #f9f5f5;
    }
  }
}

.marksModal {
  position: absolute;
  top: 35px;
  right: 20px;
  background: #fff;
  color: #b22828;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: start;
  width: max-content;
  z-index: 1000;
  padding: 8px 20px;

  .itemModal {
    color: var(--black);

    &:hover {
      background-color: #f9f5f5;
    }
  }
}

.blurOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  // background: rgba(255, 255, 255, 0.5); // Optional white tint
  backdrop-filter: blur(2px);
  z-index: 998; // Should be less than your modal's z-index
}

.paginationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.paginationRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paginationControls span {
  font-size: small;
}

.paginationControls button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.paginationControls button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pageSizeSelector span {
  font-size: small;
}

.pageSizeSelector select {
  margin: 0 0.5rem;
  padding: 0.25rem;
}

.navShow {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.navLeft img {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 8px;
  border-radius: 9999px;
  cursor: pointer;
  margin-left: 7px;
  margin-right: 7px;
}

/* In your CSS module */
.tableSelect {
  // -webkit-appearance: none; /* For Chrome, Safari, Edge */
  // -moz-appearance: none; /* For Firefox */
  text-align: center;
  appearance: none;
  /* Standard syntax */
  border: #e0e0e0 1px solid;
  border-radius: 5px;
  padding: 8px;
}

.tableSelectEntries {
  // -webkit-appearance: none; /* For Chrome, Safari, Edge */
  // -moz-appearance: none; /* For Firefox */
  text-align: center;
  appearance: none;
  /* Standard syntax */
  border: #e0e0e0 1px solid;
  border-radius: 5px;
  padding: 4px;
}

.show,
.entries {
  font-size: small;
  margin-left: 5px;
  margin-right: 5px;
}