.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: calc(var(--variable) * 2);
}

.welTitle {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: #1d1d1d;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 5rem;
  }
}

.drawerContent {
  height: 100%;
  padding: 1rem;
  z-index: 1000;
  overflow-y: auto;

  .tox-tinymce {
    height: 100vh !important;
  }

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.drawerFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  border-top: 1px solid #e0e0e0;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  justify-content: flex-end;
}

.closeFooterBtn {
  padding: 10px 16px;
  border: 1px solid #231f20;
  border-radius: 30px;
  cursor: pointer;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: #231f20;

  &:hover {
    background-color: #231f20;
    color: #fff;
  }
}

.cancelBtn {
  padding: 8px 16px;
  background: none;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: #f5f5f5;
  }
}

.assignBtn {
  padding: 10px 16px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 30px;
  cursor: pointer;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: #fff;
}

.assignmentsGrid {
  height: 100%;
  width: 100%;
}

.freelancerGrid {
  height: calc(100% - 50px); // Account for pagination
  width: 100%;
}

.tableWrapper {
  height: 100%;
}

.tableUpper {
  margin-bottom: 16px;
}

.tableWrapper {
  width: 100%;
  overflow: hidden;

  .tableUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: 768px) {
      gap: 8px;
    }
  }
}

.tableHeader {
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #5b5b5b;
  margin: 1rem 0;
}

.assignmentsGrid {
  width: 100%;
  height: 470px;
  font-family: "SF Pro Text", sans-serif;
  border-radius: 8px;
}

.tableWrapper {
  width: 100%;
  overflow: hidden;

  .tableUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      gap: 8px;
    }
  }
}

.tableHeader {
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #5b5b5b;
  margin: 1rem 0;
}

.freelancerGrid {
  width: 100%;
  height: 420px;
  font-family: "SF Pro Text", sans-serif;
  border-radius: 8px;
}

.assignmentsGrid {
  width: 100%;
  height: 460px;
  font-family: "SF Pro Text", sans-serif;
  border-radius: 8px;
}

.paginationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.paginationRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paginationControls span {
  font-size: small;
}

.paginationControls button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.paginationControls button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pageSizeSelector span {
  font-size: small;
}

.pageSizeSelector select {
  margin: 0 0.5rem;
  padding: 0.25rem;
}

.navLeft img {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 8px;
  border-radius: 9999px;
  cursor: pointer;
  margin-left: 7px;
  margin-right: 7px;
}

/* In your CSS module */
.tableSelect {
  // -webkit-appearance: none; /* For Chrome, Safari, Edge */
  // -moz-appearance: none; /* For Firefox */
  text-align: center;
  appearance: none;
  /* Standard syntax */
  border: #e0e0e0 1px solid;
  border-radius: 5px;
  padding: 8px;
}

.tableSelectEntries {
  // -webkit-appearance: none; /* For Chrome, Safari, Edge */
  // -moz-appearance: none; /* For Firefox */
  text-align: center;
  appearance: none;
  /* Standard syntax */
  border: #e0e0e0 1px solid;
  border-radius: 5px;
  padding: 4px;
}

.show,
.entries {
  font-size: small;
  margin-left: 5px;
  margin-right: 5px;
}