.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Text", sans-serif;
  padding: 2rem;

  .headTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    .titleBox {
      display: flex;
      flex-direction: column;
      padding: 18px 0;

      .back {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 17.71px;
        color: var(--primary);
        cursor: pointer;
      }

      .pageTitle {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 600;
        font-size: calc(var(--variable) * 3.1);
        line-height: calc(var(--variable) * 4.22);
        line-height: 32px;
        color: #2c323f;

        @media (max-width: 768px) {
          font-size: 3.1rem;
          line-height: 4.22rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    top: calc(16rem + 6px);
    position: relative;
    min-width: -webkit-fill-available;
  }

  .holidayFormBox {
    background-color: #fff;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;

    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }

    .inputBox {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      border: 1px solid #e0e0e0;
      padding: 4px 8px;
      background-color: #fff;
      cursor: text;
      gap: 5px;
      // width: fit-content;

      .inputLabel {
        font-family: "SF Pro Text", sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 17.71px;
        color: #828282;
      }

      .input {
        font-family: "SF Pro Text", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #1d1d1d;
        border: none;
        width: 100%;
        height: 3rem;
        outline: none;
        // resize: none;
        // overflow: hidden;

        &::placeholder {
          font-weight: 400;
          color: gray;
        }
      }

      input:focus::placeholder {
        color: transparent;
      }
    }

    .addEmployee {
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      background-color: var(--primary);
      padding: 10px 12px;
      gap: 8px;
      cursor: pointer;
      width: fit-content;

      .addText {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.41px;
        color: #fff;
      }

      @media (max-width: 768px) {
        padding: 8px 16px;
      }

      &:hover {
        background: #1e56bc;
      }
    }
  }
}

.titleNForm {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.footer {
  margin-top: 2rem;
}

.calenderwidth {
  width: 150% !important;
}

.required {
  color: red;
  padding-left: 4px;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
