.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 16px;
  width: 100%;

  .headTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: row;
    }

    .titleBox {
      display: flex;
      flex-direction: column;
      padding: 18px 0;

      .back {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 17.71px;
        color: var(--primary);
        cursor: pointer;
      }

      .pageTitle {
        font-family: "SF Pro Display", sans-serif;
        font-weight: 600;
        font-size: calc(var(--variable) * 3.1);
        line-height: calc(var(--variable) * 4.22);
        line-height: 32px;
        color: #2c323f;

        @media (max-width: 768px) {
          font-size: 3.1rem;
          line-height: 4.22rem;
        }
      }

      @media (max-width: 768px) {
        padding: 4px 0;
      }
    }

    .selectNavigation {
      display: flex;
      flex-direction: row;
      gap: 16px;
      flex-wrap: wrap;

      .deleteBtn {
        padding: 10px 28px;
        border-radius: 8px;
        background-color: #b22828;
        font-family: "SF Pro Display", sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 17.71px;
        color: #ffffff;
        cursor: pointer;
      }

      .assignmentNavigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .arrowLeft,
        .arrowRight {
          display: flex;
          justify-content: center;
          gap: 8px;
          align-items: center;
          padding: 8px;
          background: #fff;
          border-radius: 32px;
          cursor: pointer;

          .arrowCont {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "SF Pro Display", sans-serif;
            font-weight: 600;
            font-size: 13px;
            line-height: 17.71px;
            color: #2c323f;
          }
        }

        .assignmentPgNo {
          font-family: "SF Pro Display", sans-serif;
          font-weight: 600;
          font-size: 13px;
          line-height: 17.71px;
          color: #2c323f;
        }
      }

      .selectStudent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: black;
        padding: 8px 16px 8px 16px;
        gap: 8px;
        cursor: pointer;

        @media (max-width: 768px) {
          width: 98px;
          height: 32px;
          gap: 6px;
          padding: 0px 0px 0px 0px !important;
        }

        .selectButtonLogo {
          width: 2.4rem;
          height: 2.4rem;
        }

        /* CSS */
        .switch {
          position: relative;
          display: inline-block;
          width: 30px;
          height: 16px;

          @media (max-width: 768px) {
            width: 24px;
            height: 10px;
          }
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #8e8e8e;
          transition: 0.4s;
          border-radius: 24px;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 12px;
          width: 12px;
          left: 2px;
          bottom: 2px;
          background-color: white;
          transition: 0.4s;
          border-radius: 50%;

          @media (max-width: 768px) {
            height: 8px;
            width: 8px;
            bottom: 1px;
          }
        }

        input:checked+.slider {
          background-color: #f3be2e;
        }

        input:checked+.slider:before {
          transform: translateX(14px);

          @media (max-width: 768px) {
            transform: translateX(12px);
          }
        }

        .addText {
          font-size: 13px;
          line-height: 17.71px;
          color: #fff;

          @media (max-width: 768px) {
            font-size: 9px;
          }
        }

        @media (max-width: 768px) {
          padding: 8px 16px;
        }
      }
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .studentCard {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    /* Add this line */
    overflow: hidden;
    /* Ensure child elements don't overflow the rounded corners */
    transition: all 1s ease;

    * {
      transition: all 1s ease;
    }

    .imgBtn {
      position: relative;
    }

    .profileCard {
      height: 120px;
      transition: all 1s ease;

      * {
        transition: all 1s ease;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: auto;
      transition: all 1s ease;

      * {
        transition: all 1s ease;
      }
    }

    .editBtn {
      position: absolute;
      right: 2%;
      top: 8%;
      font-family: "SF Pro Display", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 21.79px;
      color: #FFF;
      cursor: pointer;
      border: 1px solid #fff;
      padding: 4px 20px;
      border-radius: 8px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }


    .studentDetailsBox {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 1rem;

      .referralSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;

        @media (max-width: 768px) {
          display: none;
          margin-top: 4rem;

          //   display: flex;
          //   margin-top: 4rem;
          //   flex-direction: row;
          //   align-items: center;
          //   justify-content: space-between;
          padding: 0 12px 0 12px;
        }

        .profileName {
          display: none;

          @media (max-width: 768px) {
            display: block;
            color: black;
            font-size: large;
          }
        }

        img {
          width: 2rem;
          height: 2rem;
        }

        .referral {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          background-color: #eeeeee;
          padding: 8px 12px 8px 10px;
          font-size: 1.6rem;
          border-radius: 0.5rem;
          cursor: pointer;
        }

        .code {
          color: #898182;
          font-size: 1.3rem;
        }
      }

      .referralSectionPhone {
        display: none;

        @media (max-width: 768px) {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 4rem;
          justify-content: space-between;
          padding: 0 12px 0 12px;
        }

        .profileNamePhone {
          display: none;

          @media (max-width: 768px) {
            display: block;
            color: black;
            font-size: large;
          }
        }

        img {
          width: 2rem;
          height: 2rem;
        }

        .referralPhone {
          display: none;
          cursor: pointer;

          .referralCode {
            font-weight: 600;
            cursor: pointer;
          }

          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
          }

          .referralRow {
            display: flex;
            flex-direction: row;
          }
        }

        .referralPhone {
          display: flex;
          align-items: start;
          gap: 0.5rem;
          background-color: #eeeeee;
          padding: 8px 12px 8px 10px;
          font-size: 1.6rem;
          border-radius: 0.5rem;
        }

        .code {
          color: #898182;
          font-size: 1.3rem;
        }
      }

      .studentNameInitial {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5rem;
        left: 3rem;
        background-color: #f3be2e;
        color: #231f20;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        font-size: 39px;
        line-height: 53.12px;
        font-weight: 600;
        border: 4px solid #fff;

        @media (max-width: 768px) {
          width: 60px;
          height: 60px;
          font-size: 19px;
          top: -5rem;
        }
      }

      .detailsStud {
        margin-top: 2rem;

        .details {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .personalDetails {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
            background-color: #fff;
            border-radius: 16px;
            gap: 16px;

            // width: 100%;

            .personalDetailsHeader {
              font-size: 25px;
              line-height: 34.05px;
              font-family: "SF Pro Text", sans-serif;
              font-weight: 600;
              color: #2c323f;

              @media (max-width: 768px) {
                display: none;
              }
            }

            .rowContainer {
              display: flex;
              flex-direction: row;
              gap: 16px;
              padding: 4px 8px;

              @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
              }

              .rowfield {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                .fieldName {
                  font-size: 13px;
                  line-height: 17.71px;
                  font-family: "SF Pro Text", sans-serif;
                  font-weight: 400;
                  color: #828282;
                }

                .fieldValue {
                  font-size: 15px;
                  line-height: 20.79px;
                  font-family: "SF Pro Text", sans-serif;
                  font-weight: 600;
                  color: #1d1d1d;
                  display: flex;
                  flex-direction: column;

                  @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 17.71px;
                  }
                }
              }

              @media (max-width: 768px) {
                flex-wrap: wrap;

                .rowfield {
                  flex-wrap: wrap;
                  width: calc(50% - 8px);

                  &:last-child:nth-child(odd) {
                    width: 100%;
                  }
                }
              }

              @media (max-width: 300px) {
                .rowfield {
                  width: 100%;
                }
              }
            }
          }

          @media (max-width: 1000px) {
            flex-direction: column;
          }
        }
      }
    }
  }

  .selectStudentCard {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    /* Add this line */
    overflow: hidden;
    /* Ensure child elements don't overflow the rounded corners */
    transition: all 1s ease;
    position: relative;

    * {
      transition: all 1s ease;
    }

    .profileCardSelect {
      height: 120px;
      transition: all 1s ease;

      * {
        transition: all 1s ease;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }

    .imgBtn {
      position: relative;
    }

    .editBtn {
      position: absolute;
      right: 10px;
      top: 10px;
      font-family: "SF Pro Display", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 21.79px;
      // color: #FFF;
      cursor: pointer;
      border: 2px solid gray;
      border-radius: 10px;
      padding: 0.1rem 1rem;
      color: lightgray;

      @media (max-width: 768px) {
        top: 40px;
      }
    }

    .lastEditText {
      position: absolute;
      right: 10px;
      top: 100px;
      color: white;
      font-size: 13px;
      line-height: 17px;
      font-weight: 400;
      z-index: 1;

      @media (max-width: 768px) {
        top: 10px;
      }
    }

    .studentDetailsBox {
      background-color: #232323;
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 1rem;

      .referralSection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;

        @media (max-width: 768px) {
          display: none;
          margin-top: 4rem;

          //   display: flex;
          //   margin-top: 4rem;
          //   flex-direction: row;
          //   align-items: center;
          //   justify-content: space-between;
          padding: 0 12px 0 12px;
        }

        .profileName {
          display: none;

          @media (max-width: 768px) {
            display: block;
            color: black;
            font-size: large;
          }
        }

        img {
          width: 2rem;
          height: 2rem;
        }

        .referral {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          background-color: #eeeeee;
          padding: 8px 12px 8px 10px;
          font-size: 1.6rem;
          border-radius: 0.5rem;
        }

        .code {
          color: #898182;
          font-size: 1.3rem;
        }
      }

      .referralSectionPhone {
        display: none;

        @media (max-width: 768px) {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 4rem;
          justify-content: space-between;
          padding: 0 12px 0 12px;
        }

        .profileNamePhone {
          display: none;

          @media (max-width: 768px) {
            display: block;
            color: white;
            font-size: large;
          }
        }

        img {
          width: 2rem;
          height: 2rem;
        }

        .referralPhone {
          display: none;

          .referralCode {
            font-weight: 600;
          }

          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
          }

          .referralRow {
            display: flex;
            flex-direction: row;
          }
        }

        .referralPhone {
          display: flex;
          //   flex-direction: row;
          align-items: start;
          gap: 0.5rem;
          background-color: #eeeeee;
          padding: 8px 12px 8px 10px;
          font-size: 1.6rem;
          border-radius: 0.5rem;
        }

        .code {
          color: #898182;
          font-size: 1.3rem;
        }
      }

      .studentNameInitial {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5rem;
        left: 3rem;
        background-color: #f3be2e;
        color: #231f20;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        font-size: 39px;
        line-height: 53.12px;
        font-weight: 600;
        border: 4px solid #fff;

        @media (max-width: 768px) {
          width: 60px;
          height: 60px;
          font-size: 19px;
          top: -5rem;
        }
      }

      .detailsStud {
        margin-top: 2rem;

        .details {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .personalDetails {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
            background-color: #232323;
            border-radius: 16px;
            gap: 16px;

            // width: 100%;

            .personalDetailsHeader {
              font-size: 25px;
              line-height: 34.05px;
              font-family: "SF Pro Text", sans-serif;
              font-weight: 600;
              color: #fff;

              @media (max-width: 768px) {
                display: none;
              }
            }

            .rowContainer {
              display: flex;
              flex-direction: row;
              gap: 16px;
              padding: 4px 8px;

              @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
              }

              .rowfield {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                .fieldName {
                  font-size: 13px;
                  line-height: 17.71px;
                  font-family: "SF Pro Text", sans-serif;
                  font-weight: 400;
                  color: #828282;
                }

                .fieldValue {
                  font-size: 15px;
                  line-height: 20.79px;
                  font-family: "SF Pro Text", sans-serif;
                  font-weight: 600;
                  color: #fff;

                  @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 17.71px;
                  }
                }
              }

              @media (max-width: 768px) {
                flex-wrap: wrap;

                .rowfield {
                  flex-wrap: wrap;
                  width: calc(50% - 8px);

                  &:last-child:nth-child(odd) {
                    width: 100%;
                  }
                }
              }

              @media (max-width: 300px) {
                .rowfield {
                  width: 100%;
                }
              }
            }
          }

          @media (max-width: 1000px) {
            flex-direction: column;
          }
        }
      }
    }
  }

  .betweenTitle {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 17.71px;
    color: #383233;
  }

  .belowContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .counterCards {
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 100%;

      .card {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background-color: #fff;
        padding: 16px;
        flex: 1;

        .cardTitle {
          font-family: "SF Pro Display", sans-serif;
          font-weight: 600;
          font-size: 13px;
          line-height: 17.71px;
          color: #383233;

          @media (max-width: 768px) {
            font-size: 10px;
            line-height: 13.62px;
          }
        }

        .cardValue {
          font-family: "SF Pro Display", sans-serif;
          font-weight: 600;
          font-size: 31px;
          line-height: 42.22px;
          color: #231F20;
        }
      }

      @media (max-width: 350px) {
        flex-direction: column;
      }
    }

    .selectedPMList {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 1.6rem;

      .selectedPMItem {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        padding: 6px 16px;
        border-radius: 30px;
        border: 1px solid #C2C2C2;

        .pmName {
          font-family: "SF Pro Display", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: var(--primary);
        }

        .removePM {
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 768px) {
    top: calc(16rem + 6px);
    position: relative;
    min-width: -webkit-fill-available;
  }
}

.tableWrapper {
  width: 100%;
  overflow: hidden;

  .tableUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: 768px) {
      gap: 8px;
    }
  }

}

.tableHeader {
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #5b5b5b;
  margin: 1rem 0;
}

.assignmentsGrid {
  width: 100%;
  font-family: "SF Pro Text", sans-serif;
  border-radius: 8px;
  height: 350px;

}

/* CSS Module */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "League Spartan";
  font-weight: 200;
  font-style: normal;

}


.modalContent {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  font-size: medium;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.modalActions button {
  margin-left: 1.5rem;
}

.selectBtnModal {
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  border: 1px rgb(41, 125, 41) solid;
  background-color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: rgb(41, 125, 41);
  cursor: pointer;
}

.selectBtnModal:hover {
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  border: 1px rgb(41, 125, 41) solid;
  background-color: rgb(41, 125, 41);
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deleteBtnModal {
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  border: 1px #B22B28 solid;
  background-color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: #B22B28;
  cursor: pointer;
}

.deleteBtnModal:hover {
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  border: 1px #B22B28 solid;
  background-color: #B22B28;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancelBtnModal {
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  border: 1px var(--primary) solid;
  background-color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: var(--primary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cancelBtnModal:hover {
  background-color: var(--primary);
  color: white;
}

.approveBtnModal {
  padding: 10px 15px 10px 15px;
  border-radius: 8px;
  border: 1px green solid;
  background-color: white;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17.71px;
  color: green;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: green;
    color: white;
  }
}

.modalh2 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 21.79px;
  color: rgb(41, 125, 41);
}

.modalh2Delete {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 21.79px;
  color: #B22B28;
}

.modalP {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 17.71px;
  color: #766d6d;
}

.blurBackground {
  filter: blur(3px);
}

.optionsModal {
  position: absolute;
  top: 90px;
  right: 50px;
  background: #fff;
  color: #b22828;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  justify-content: start;
  width: max-content;
  z-index: 9999;
  padding: 8px 20px;

  .reject {
    text-align: start;
  }
}

.modalMainDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px 0;
  width: 100%;

  .modalTitle {
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #b22828;
    text-align: center;
    margin-top: 5px;
  }
}

.modalBody {
  font-family: "SF Pro Display", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    font-family: "SF Pro Display", sans-serif;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #444;
  }
}

.radioOptions {
  display: flex;
  gap: 1rem;

  label {
    font-family: "SF Pro Display", sans-serif;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #444;
  }

  input[type="radio"] {
    font-family: "SF Pro Display", sans-serif;
    accent-color: var(--primary);
    width: 16px;
    height: 16px;
    cursor: pointer;
    transform: scale(1);
  }
}

.lastEditText {
  position: absolute;
  right: 5%;
  bottom: 10%;
  color: white;
  font-size: 1.25rem;
  font-weight: 400;

}

.notAvailable {
  color: #9a9fa7;
  font-size: 13px;
  line-height: 17.71px;
  font-family: "SF Pro Text", sans-serif;
  font-weight: 300;
  font-style: italic;
}