.moreOptions {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    padding: 4px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: rgb(240, 236, 236);
    }

    .dot {
        width: 4px;
        height: 4px;
        background-color: black;
        border-radius: 50%;
    }
}