.pillTabs {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: inline-flex;
    background-color: #ffffff;
    border-radius: 2rem;
    padding: 0.3rem;
    position: relative;
    width: fit-content;
}

.tab {
    padding: 0.7rem 1.6rem 0.9rem 1.6rem;
    border: none;
    background: none;
    border-radius: 1.3rem;
    cursor: pointer;
    font-size: 1.3rem;
    color: #766D6D;
    transition: color 0.3s ease;
    position: relative;
    z-index: 1;
    text-decoration: none;

    &.active {
        color: #fff;
    }

    @media (max-width:768px) {
        font-size: 2rem;
    }
}

.indicator {
    position: absolute;
    height: calc(100% - 1rem);
    background-color: var(--primary);
    border-radius: 1.5rem;
    transition: 0.3s ease;
    top: 0.5rem;
    z-index: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabContent {
    width: 100%;
}

@media (max-width:768px) {

    .tabs {
        display: inline-flex;
        background-color: #ffffff;
        border-radius: 2.4rem;
        padding: 0.75rem;
        position: relative;
        width: fit-content;
    }

    .indicator {
        position: absolute;
        height: calc(100% - 1rem);
        background-color: var(--primary);
        border-radius: 2.4rem;
        transition: 0.3s ease;
        top: 0.5rem;
        z-index: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}