.inputBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  .inputLabel {
    font-size: 14px;
    color: #828282;

    .required {
      color: #FF0000;
      margin-left: 2px;
    }
  }

  .input {
    font-family: "SF Pro Text", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1D1D1D;
    border: none;
    width: 100%;
    outline: none;

    &:focus {
      outline: none;
      border-color: #007AFF;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
    }
  }

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    background-color: #f5f5f5;

    .input {
      background-color: #f5f5f5;
      color: #999;
      cursor: not-allowed;
    }

    .inputLabel {
      color: #999;
    }
  }
}