.aboutSection {
  .img {
    width: 100%;
    margin: 0;
    padding-right: 2px;
    display: block;
  }

  .background {
    background-color: #e6e3e1 !important;
    width: 100%;
    height: auto;
    // min-height: calc(100vh - 80px);
  }
}

.aboutContainer {
  margin-top: calc(104px + 8rem);
  color: white;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: calc(104px + 8rem);
  padding: 0 1rem 0 3rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .heading {
    font-size: 3.8rem;
    line-height: 2.2rem;

    span {
      font-size: 4rem;
      line-height: 4.4rem;
    }
  }

  .title {
    font-size: 3.8rem;
    line-height: 3.2rem;
  }

  @media (max-width: 768px) {
    .content {
      gap: 1rem;
    }

    .heading {
      font-size: 1.6rem;
      line-height: 2rem;

      span {
        font-size: 4rem;
        line-height: 4.4rem;
      }
    }

    .title {
      font-size: 3.8rem;
      line-height: 3.2rem;
    }
  }
}

@media (max-width: 768px) {
  .img {
    img {
      width: 110px;
    }
  }
}

.section2 {
  background-color: #e6e3e1;
  color: black;

  .section2Text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .section2Title {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 4rem;
      line-height: 4.8rem;
    }

    .section2Desc {
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: #444444;
      font-size: 2.4rem;
      line-height: 2.8rem;
      text-align: center;
    }
  }

  .sectionMap {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    margin: 10rem 0rem 0rem 0rem;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    .counterRow {
      // width: 30%;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 6.4rem;
      margin: 5rem 0rem 0rem 0rem;

      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }
    }

    // .mapRow{
    // }

    .mapRow {
      img {
        width: 100%;
        height: auto;

        @media (max-width: 768px) {
          width: 100%;
          height: 100%;
        }
      }
    }

    .counterNumbers {
      font-size: 5.6rem;
      color: #1d1d1d;
      line-height: 6rem;
    }

    .counterNumberText {
      font-size: 2.8rem;
      line-height: 3.3rem;
    }

    @media (max-width: 768px) {
    }
  }
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .section3Title {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .section3Desc {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #444444;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-justify: auto;
  }
}

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .section4Title {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .section4Desc {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #444444;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    // text-justify: auto !important;
  }

  .section4Row {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    gap: 4rem;

    .section4Content {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 1.5rem;
    }
    .section4ContentText {
      font-size: 2rem;
      line-height: 2rem;
    }
    .section4ContentDate {
      font-size: 1.5rem;
      color: #666666;
      line-height: 2.1rem;
    }
  }
}

.section5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .section5Title {
    margin-top: 10rem; // 20 rem
    margin-bottom: 4rem;
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .section5Desc {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #444444;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    // text-justify: auto !important;
  }

  .section5rowContent {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
    // justify-content: space-between;
    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  .section5Content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1.2rem;

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .section5ContentTitle {
    white-space: nowrap;
    font-size: 3.6rem;
    line-height: 4.3rem;
  }

  .section5ContentDesc {
    font-size: 2rem;
    line-height: 2.1rem;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 1.9rem;
      line-height: 1.92rem;
    }
  }
}

.faqbg {
  background-color: #e6e3e1;
  color: black;
}

.aboutImg {
  img {
    width: 100%;
    // height: 40rem;
  }

  @media (max-width: 768px) {
    img {
      width: 100%;
      height: fit-content;
    }
  }
}
