// .card {
//     border: 1px solid lightgray;
//     border-radius: 10px;
//     display: flex;
//     flex-direction: column;
//     padding: 10px;
//     min-width: 300px;
//     user-select:none;
//     *{
//         user-select:none;
//     }
// }

.card {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 300px;
  user-select: none;
  * {
    user-select: none;
  }
  scroll-snap-align: start;
  margin-right: 16px;
}

.cardspacebetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.cardtext {
  font-size: 18px;
  color: #615959;
  display: flex;
  flex-direction: column;
  padding: 6px;
  line-height: 21.6px;
}

.cardreviewer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.reviewernameTime {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.cardreviewname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  font-size: medium;
  font-weight: 600;
}

.cardreviewimg {
  width: 50px;
  height: 50px;
  background-color: #cff4e7;
  border-radius: 50%;
}

.reviewTime {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}
