.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: calc(94px + 6rem);
  padding: 0 1rem 0 3rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .heading {
      font-size: 3.8rem;
      line-height: 4rem;

      span {
        font-size: 4rem;
        line-height: 4.4rem;
      }
    }

    .title {
      font-size: 3.8rem;
      line-height: 4rem;
    }
  }

  .img {
    width: 13rem;
  }
}

.contactRevolve {
  display: flex;
  justify-content: center;

  img {
    position: relative;
    z-index: 1;
    height: 50vh;
    margin: 0;
    display: block;

    @media (max-width: 768px) {
      height: 320px;
      width: 320px;
    }

    @media (max-width: 315px) {
      height: 220px;
      width: 220px;
    }
  }
}

.mainContactSection {
  height: 100vh;
  background-color: #e6e3e1;

  .contactSection {
    position: relative;
    z-index: 2;
    transform: translateY(-6%);

    .img {
      width: 100%;
      margin: 0;
      padding-right: 2px;
      display: block;
    }

    .background {
      background-color: #e6e3e1 !important;
      width: 100%;
      height: auto;
      min-height: calc(100vh + 80px);
    }

    @media (max-width: 315px) {
      transform: translateY(-4%);
    }
  }
}

.dropdownForm {
  width: 100%;
  padding: 1rem;
  border: 1px solid #d7d6d6;
  border-radius: calc(var(--variable) * 1.5);
  font-size: 16px;
  color: #766d6d;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;

  &:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  }

  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .formHeading {
    font-size: calc(var(--variable) * 4);
    line-height: calc(var(--variable) * 4.8);
    transform: translateY(-30%);
    margin-top: calc(var(--variable) * 1);
    text-align: center;

    @media (max-width: 7864px) {
      transform: translateY(-10%);
    }
  }

  .form {
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 45vw;

    @media (max-width: 1094px) {
      width: 100%;
    }
  }
}

.formInputs {
  font-size: 16px;
  line-height: 19.2px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputCol {
  // display: flex;
  flex-direction: column;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.inputStart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 40%;
}

.inputRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 3rem;

  .reset {
    border-radius: 30px;
    border: 1px solid #231f20;
    padding: 10px 14px 10px 14px;
    background-color: white;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #231f20;
      color: #fff;
    }
  }

  .submit {
    border-radius: 30px;
    border: none;
    padding: 10px 15px 10px 15px;
    background-color: #2956a8;
    color: white;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #0b3a91;
      color: #fff;
    }
  }
}

@media (max-width: 450px) {
  .cardContainer {
    display: flex;
    flex-direction: row;

    .content {
      display: flex;
      flex-direction: column;
    }
  }
}

.reachOutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--variable) * 6);

  h2 {
    font-size: calc(var(--variable) * 4);
    line-height: calc(var(--variable) * 4.8);
  }

  .reachCard {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 2rem;
    margin: calc(var(--variable) * 4) 0;

    .logoContainer {
      display: flex;
      flex-direction: row;
      background-color: var(--primary);
      border-radius: 2rem 0rem 0rem 2rem;
      justify-content: center;
      align-items: center;
      flex: 4;

      img {
        height: 20rem;
        width: 20rem;
      }

      @media (max-width: 768px) {
        border-radius: 2rem 2rem 0rem 0rem;
      }
    }

    .iconBox {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      position: relative;

      .absBox {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transform: translateX(-50%);

        .logoIcon {
          display: flex;
          background-color: #f8d881;
          border-radius: 50%;
          width: 5rem;
          height: 5rem;
          justify-content: center;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
          }
        }

        @media (max-width: 768px) {
          flex-direction: row;
          transform: translateY(-50%);
        }
      }

      @media (max-width: 768px) {
        flex-direction: row;
      }
    }

    .detailBox {
      display: flex;
      flex-direction: column;
      padding: 5rem;
      position: relative;
      flex: 7;
      gap: 4rem;

      .officeAddress {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        .title {
          font-size: 2.5rem;
          line-height: 2.7rem;

          @media (max-width: 768px) {
            font-size: 2.8rem;
            line-height: 3rem;
          }
        }

        .content {
          font-size: 1.5rem;
          line-height: 1.7rem;
          color: #766d6d;
          text-align: justify;

          &:hover {
            text-decoration: underline;
          }

          @media (max-width: 768px) {
            font-size: 1.6rem;
            line-height: 1.8rem;
          }
        }
      }

      .contactDetails {
        display: flex;
        flex-direction: row;
        gap: 12rem;

        .callDetail {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          .title {
            font-size: 2.5rem;
            line-height: 2.7rem;

            @media (max-width: 768px) {
              font-size: 2.8rem;
              line-height: 3rem;
            }
          }

          .content {
            display: flex;
            flex-direction: column;

            a {
              text-decoration: none;
            }

            .phoneNum {
              font-size: 1.5rem;
              line-height: 1.7rem;
              color: #766d6d;

              @media (max-width: 768px) {
                font-size: 1.6rem;
                line-height: 1.8rem;
              }
            }
          }
        }

        .emailDetail {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;

          a {
            text-decoration: none;
          }

          .title {
            font-size: 2.5rem;
            line-height: 2.8rem;

            @media (max-width: 768px) {
              font-size: 2.8rem;
              line-height: 3rem;
            }
          }

          .content {
            font-size: 1.5rem;
            line-height: 1.7rem;
            color: #766d6d;

            @media (max-width: 768px) {
              font-size: 1.6rem;
              line-height: 1.8rem;
            }
          }
        }

        @media (max-width: 768px) {
          gap: 2rem;
          flex-direction: column;
        }
      }

      @media (max-width: 768px) {
        gap: 2rem;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.error {
  color: red;
  font-size: calc(var(--variable) * 1);
  font-family: "League Spartan";
}

.textareaInput {
  font-size: 1.4rem !important;
  line-height: 2rem;
  &::placeholder {
    color: #9ca3af;
    opacity: 0.8;
  }
}
