.contain {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    position: relative;

    @media (max-width: 500px) {
        display: flex;
        justify-content: flex-end;
    }
}

.content {
    display: flex;
    align-items: center;
    background-color: transparent;

    @media (max-width: 500px) {
        justify-content: flex-end;
    }
}

.downArrow {
    height: 13px;
    width: calc(var(--variable)*1.2);
    transition: transform 0.3s ease;
    color: #000;

    @media (max-width: 500px) {
        margin-left: 5px;
    }
}

.contain.open .downArrow {
    transform: rotate(180deg);
    color: #000;
}

.dropDown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    margin-top: calc(var(--variable)*3.5);
    flex-direction: row;
    padding: calc(var(--variable)*0.5);
    border-radius: 50px;
    gap: calc(var(--variable)*0.5);
    transition: 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 500px) {
        flex-direction: row;
        top: 100%;
        left: 10%;
        transform: none;
        margin-top: 0;
        position: absolute;
    }
}

.contain.open .dropDown {
    opacity: 1;
    visibility: visible;
}

.dropdownItem {
    display: flex;
    align-items: center;
    padding: calc(var(--variable)*0.7);
    font-size: calc(var(--variable)*1);
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;

    &:hover .itemName {
        display: block;
        opacity: 1;
    }

    &:last-child {
        margin-right: 0;
    }

    @media (max-width: 500px) {
        text-align: left;
    }
}

.itemName {
    display: none;
    opacity: 0;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #142338;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    transition: opacity 0.2s ease;
    color: #fff;

    /* Tooltip Arrow */
    &::after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #142338 transparent;
    }
}

.dropdownImage {
    width: 40px;
    height: 40px;
    border-radius: 48px;
    padding: 5px;
}

.bluepenCircle {
    background-color: #2956A8;
}

.writeyfyCircle {
    background-color: #EEA828;
}

.greenguideCircle {
    background-color: white;
    // border: 1px solid green;
    scale: 125%;
    border-radius: 100px;
}

.title {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-right: calc(var(--variable)*0.5);

    @media (max-width: 500px) {
        margin-right: 0;
    }
}

.title:hover {
    color: #1c3f46;
}

.value {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}