.editProfileSection {
  .img {
    width: 100%;
    margin: 0;
    padding-right: 2px;
    display: block;
  }

  .background {
    background-color: #e6e3e1 !important;
    width: 100%;
    height: 100vh;
  }
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: calc(104px + 8rem);
  padding: 0 1rem 0 3rem;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .heading {
    font-size: calc(var(--variable) * 3.8);
    line-height: calc(var(--variable) * 2.2);

    span {
      font-size: calc(var(--variable) * 4);
      line-height: calc(var(--variable) * 4.4);

      @media (max-width: 768px) {
        font-size: calc(var(--variable) * 4.2);
        line-height: calc(var(--variable) * 4.6);
      }
    }

    @media (max-width: 768px) {
      font-size: calc(var(--variable) * 4);
      line-height: calc(var(--variable) * 2.4);
    }
  }

  .title {
    font-size: calc(var(--variable) * 3.8);
    line-height: calc(var(--variable) * 3.2);

    @media (max-width: 768px) {
      font-size: calc(var(--variable) * 4);
      line-height: calc(var(--variable) * 3.4);
    }
  }

  @media (max-width: 768px) {
    .content {
      gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .img {
    img {
      width: 110px;
    }
  }
}

.editCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;

  .userHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .userdet {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .userName {
        font-family: "League Spartan", sans-serif;
        font-weight: 600;
        font-size: calc(var(--variable) * 2);
        line-height: calc(var(--variable) * 2.2);

        @media (max-width: 768px) {
          font-size: calc(var(--variable) * 2.2);
          line-height: calc(var(--variable) * 2.4);
        }
      }

      .memberSince {
        font-family: "League Spartan", sans-serif;
        font-weight: 400;
        font-size: calc(var(--variable) * 2);
        line-height: calc(var(--variable) * 2.2);

        @media (max-width: 768px) {
          font-size: calc(var(--variable) * 2.2);
          line-height: calc(var(--variable) * 2.4);
        }
      }
    }

    .updateBtn {
      padding: calc(var(--variable) * 0.8) calc(var(--variable) * 2);
      border: 1px solid var(--darkerPrimary);
      border-radius: 30px;
      color: var(--primary);
      font-family: "League Spartan", sans-serif;
      font-weight: 600;
      font-size: calc(var(--variable) * 1.6);
      line-height: calc(var(--variable) * 1.8);
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        background-color: var(--primary);
        border: 1px solid white;
      }

      @media (max-width: 768px) {
        font-size: calc(var(--variable) * 1.8);
        line-height: calc(var(--variable) * 2);
      }
    }
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.detailItem {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  gap: 2px;
  flex-direction: column;

  .inputLbl {
    font-size: calc(var(--variable) * 1.8);
    line-height: calc(var(--variable) * 2);
    color: #231f20;
    padding: 5px;
    font-family: "League Spartan", sans-serif;

    @media (max-width: 768px) {
      font-size: calc(var(--variable) * 2);
      line-height: calc(var(--variable) * 2.2);
    }
  }

  .inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #d7d6d6;
    border-radius: 30px;
    font-size: calc(var(--variable) * 1.6);
    line-height: calc(var(--variable) * 1.8);
    font-family: "League Spartan", sans-serif;
    color: #766d6d;

    @media (max-width: 768px) {
      font-size: calc(var(--variable) * 1.8);
      line-height: calc(var(--variable) * 2);
    }
  }

  input:focus {
    outline: none;
  }
}

@media (max-width: 300px) {
  .detailItem {
    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .detailItem {
    flex-basis: calc(25% - 15px);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(2, 1fr);
  }
}

.drawerBox {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;

    .headTitle {
      font-family: "League Spartan", sans-serif;
      font-weight: 600;
      color: #1d1d1d;
      font-size: 1.6rem;
      line-height: 2.18rem;
    }

    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .drawerCont {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    justify-content: space-between;

    .titletext {
      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      color: #231f20;
      font-size: 1.6rem;
      line-height: 2.18rem;
    }

    .contentBox {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .mobileInp,
      .emailInp {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        width: 100%;

        .sendBtn {
          font-family: "Noto Sans", sans-serif;
          font-weight: 600;
          color: var(--primary);
          font-size: 1.3rem;
          line-height: 1.77rem;
          cursor: pointer;
        }
      }

      .inputCont,
      .otpCont {
        position: relative;
        width: max-content;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .inputFld {
          width: max-content;
          padding: 24px 8px 8px;
          font-family: "League Spartan", sans-serif;
          border: 1px solid #e0e0e0;
          border-radius: 4px;
          font-size: calc(var(--variable) * 1.6);
          line-height: calc(var(--variable) * 1.8);
          outline: none;
          background: none;
          position: relative;
          margin-top: 5px;

          @media (max-width: 768px) {
            font-size: calc(var(--variable) * 1.8);
            line-height: calc(var(--variable) * 2);
          }
        }

        .inputLabel {
          position: absolute;
          top: 8px;
          left: 8px;
          color: #828282;
          font-size: calc(var(--variable) * 1.6);
          line-height: calc(var(--variable) * 1.8);
          pointer-events: none;
          /* Makes the label unclickable */
          transition: all 0.2s ease;
          word-wrap: break-word; // Allow long words to break
          overflow-wrap: break-word; // Modern browsers

          @media (max-width: 768px) {
            font-size: calc(var(--variable) * 1.8);
            line-height: calc(var(--variable) * 2);
          }
        }

        .otpLabel {
          color: #828282;
          font-size: 1.3rem;
          pointer-events: none;
          /* Makes the label unclickable */
          transition: all 0.2s ease;
          line-height: 1.8rem;
          word-wrap: break-word; // Allow long words to break
          overflow-wrap: break-word; // Modern browsers
        }

        .inputFld:focus + .inputLabel,
        .inputFld:not(:placeholder-shown) + .inputLabel {
          font-size: 1.6rem;
          line-height: 2.2rem;
          color: #1d1d1d;
          word-wrap: break-word; // Allow long words to break
          overflow-wrap: break-word; // Modern browsers
        }

        .otpContainer {
          display: flex;
          flex-direction: row;
          gap: 16px;

          .otpInput {
            width: 30px;
            height: 30px;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            font-size: 14px;
            outline: none;
            background: none;
            text-align: center;
            align-self: center;
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            vertical-align: middle;
          }
        }
      }

      .otpCont {
        padding: 0 0.2px;
      }

      .verifyOtp {
        border-radius: 30px;
        border: 1px solid #231f20;
        padding: 10px 16px;
        gap: 8px;
        font-family: "Noto Sans", sans-serif;
        font-weight: 600;
        color: #231f20;
        font-size: 1.3rem;
        line-height: 1.77rem;
        background: none;
        width: max-content;
        cursor: pointer;

        &:hover {
          color: #ffffff;
          background-color: var(--primary);
          border: none;
        }
      }
    }
  }

  .drawerFooter {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    border-top: 1px solid #e0e0e0;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .discard {
      background: none;
      border: 1px solid #231f20;
      padding: 10px 16px;
      gap: 8px;
      border-radius: 30px;
      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      color: #231f20;
      font-size: 1.3rem;
      line-height: 1.77rem;
      cursor: pointer;

      &:hover {
        color: #ffffff;
        background-color: #231f20;
      }
    }

    .saveBtn {
      background-color: var(--primary);
      padding: 10px 16px;
      gap: 8px;
      border-radius: 30px;
      border: none;
      color: #ffffff;
      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.77rem;
      cursor: pointer;
    }
  }
}
