.freelancer {
  width: 100%;
}

.freelancerDashboard {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  @media (max-width: 768px) {
    top: calc(16rem + 6px);
    position: relative;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;

  .headerCol {
    display: flex;
    flex-direction: column;
    color: #2c323f;

    .headerColTitle {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }

    .headerColText {
      font-size: 3.1rem;
      line-height: 4.3rem;
    }
  }

  .card {
    background: white;
    width: 25rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    align-items: flex-start;
    padding: 1.6rem;
    justify-content: space-between;

    .cardCol {
      display: flex;
      flex-direction: column;
    }

    .cardColText {
      font-size: 1.6rem;
    }

    .invoiceRowNumber span {
      font-size: 4.4rem;
    }

    .invoiceRowNumber {
      font-size: 1.3rem;
    }

    .cardColRowNumber {
      font-size: 4.4rem;
    }

    .cardColSubTitle {
      font-size: 1.3rem;
    }
  }
}

.countDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.6rem;

  .earningsSection {
    width: 25%;
    // margin-right: 1rem;

    .earningCard {
      position: relative;
      height: 100%;
      padding: 1.6rem;
      border-radius: 1.6rem;
      overflow: hidden;
      display: flex;
      min-width: 250px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .earningCardText {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        height: 100%;
        z-index: 1;

        .earningHeading {
          font-size: 1.8rem;
          line-height: 2.2rem;
        }

        .earnDetails {
          .earningAmnt {
            font-size: 4rem;
            line-height: 5.3rem;
          }

          .earnSubTitle {
            font-size: 1.4rem;
            line-height: 1.8rem;
          }
        }
      }
    }
    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .counts {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    // align-content: flex-start;
    // justify-content: center;
    width: 100%;

    .card {
      // flex: 0 0 calc(50% - 1.8rem);
      height: calc(50% - 0.8rem);
      background: white;
      border-radius: 1.6rem;
      padding: 1rem 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 50px;
      width: 100%;

      .cardColText {
        font-size: 1.6rem;
      }

      .cardColRowNumber {
        font-size: 4.4rem;
      }

      .cardColSubTitle {
        font-size: 1.3rem;
        color: #383233;
      }
    }
    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .rewardmeterCard {
    background-color: #fff;
    border-radius: 1.6rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .heading {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    .rewardmeterCount {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .rewardmeterImg {
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 3rem solid #e0e0e0;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 3rem solid #6f34ff;
          clip: rect(0, 75px, 150px, 0);
          // transform: rotate(90deg);
          transform: rotate(
            calc(var(--completion) * 3.6deg)
          ); // rotate based on completion percentage
          transform-origin: center; // Ensure rotation is from the center of the circle
        }

        img {
          width: 34px;
          height: 40px;
          z-index: 1;
        }
      }

      .footer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .assignments {
          .title {
            font-size: 2rem;
            line-height: 2.7rem;
          }

          .subTitle {
            font-size: 1rem;
            line-height: 1.6rem;
            color: #808080;
          }
        }
      }
    }
    @media (max-width: 1200px) {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .countDetails {
    flex-direction: column;

    & > div {
      width: 100%;
    }

    .counts {
      .card {
        flex: 0 0 calc(50% - 0.8rem);
        height: auto;
      }
    }
  }
}

// css for reward meter

.flex {
  display: flex;
}

.container {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}

.info {
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 90%;
  margin: auto -15px 30px;
}

.info-code {
  cursor: pointer;
}

.info-code:hover {
  color: salmon;
}

.progress-wrapper {
  max-width: 350px;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  text-transform: uppercase;
}

.section {
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  padding: 5px 30px 30px;
  margin: 20px;
  width: 260px;
  height: 306px;
}

.code {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 260px;
  height: 0;
  left: 0;
  margin: auto;
  line-height: 1.6;
  transition: visibility 0s, opacity 0.5s linear;
}

.show-code .code {
  visibility: visible;
  opacity: 1;
  height: 100%;
  top: 45px;
}

.pre {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.code {
  height: calc(100% - 45px);
  margin-top: -20px;
}

.github {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 5px;
  margin: auto;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.github a {
  text-decoration: none;
}

.github a:hover {
  border-bottom: 1px solid salmon;
}

.heart {
  position: absolute;
  font-size: 2rem;
  margin: auto;
  width: 100%;
  bottom: 45px;
  text-align: center;
  animation: heart 0.8s linear infinite;
  text-shadow: 0px 0px 10px #f50057;
}

@keyframes heart {
  0% {
    transform: scale(1.07);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.pie-unit-11 {
  fill: #f50057;
  font-size: 1rem;
}

.flex {
  display: flex;
}

.container {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}

.info {
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 90%;
  margin: auto -15px 30px;
}

.infoCode {
  cursor: pointer;
}

.infoCode:hover {
  color: salmon;
}

.progressWrapper {
  max-width: 350px;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
  text-transform: uppercase;
}

.section {
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  padding: 5px 30px 30px;
  margin: 20px;
  width: 260px;
  height: 306px;
}

.code {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 260px;
  height: 0;
  left: 0;
  margin: auto;
  line-height: 1.6;
  transition: visibility 0s, opacity 0.5s linear;
}

.showCode .code {
  visibility: visible;
  opacity: 1;
  height: 100%;
  top: 45px;
}

.github {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 5px;
  margin: auto;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.github a {
  text-decoration: none;
}

.github a:hover {
  border-bottom: 1px solid salmon;
}

.heart {
  position: absolute;
  font-size: 2rem;
  margin: auto;
  width: 100%;
  bottom: 45px;
  text-align: center;
  animation: heart 0.8s linear infinite;
  text-shadow: 0px 0px 10px #f50057;
}

@keyframes heart {
  0% {
    transform: scale(1.07);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.pieUnit11 {
  fill: #f50057;
  font-size: 1rem;
}

.chartSpeedometer {
  // display: flex;
  // gap: 1.6rem;
  // flex-direction: row;
  width: 100%;
  // height: 100%;

  .chart {
    background: white;
    padding: 1.6rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
    height: 30rem;
    width: 100%;

    .chartCol {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 0 1.6rem 0;
    }
    .chartText {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
    .chartYtd {
      font-size: 1.2rem;
      line-height: 1.6rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    @media (max-width: 768px) {
      width: 100%;
      height: 40rem;
      margin-top: 0;
      transform: translateY(-10%);
    }
  }

  .speedometerWrapper {
    background-color: #ffffff;
    // margin-top: 1.8rem;
    padding: 1.6rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    height: 100%;

    .speedometerText {
      font-size: 1.6rem;
      line-height: 2.2rem;
      margin-bottom: 5rem;
      align-self: normal;
    }

    @media (max-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-15%);
    }
    @media (max-width: 768px) {
      width: 100%;
      margin-top: 8rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  margin-top: 2rem 0;

  .cardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;

    .cardRowText {
      color: #2c323f;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
    .cardRowButton {
      color: #2956a8;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }

  .cardDisplayRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.2rem;
    margin-bottom: 2rem;

    .cardContainer {
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 1.6rem;
      justify-content: space-between;
      padding: 1.6rem;
      gap: 8rem;
      width: calc(20% - 1.2rem);

      .cardHead {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .cardDisplayText {
          display: flex;
          flex-direction: row;
          font-size: 4.4rem;
          align-items: baseline;
          color: #383233;
          gap: 0.4rem;

          .cardDaysLeft {
            font-size: 1.8rem;
            line-height: 1.8rem;
            color: var(--error);
            font-weight: 500;
          }
        }

        .completed {
          display: none;
        }
      }

      .cardImg {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .cardContents {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .cardDet {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          .type {
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.7rem;
            color: #615959;
          }

          .title {
            font-family: "Noto Sans", sans-serif;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.1rem;
            color: #383233;
          }
        }

        .dueInContainer {
          width: 100%;

          span {
            display: block;
            font-size: 1.2rem;
            color: #615959;
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            text-align: end;
          }
        }

        .progressBar {
          width: 100%;
          height: 5px;
          background-color: #e2e8f0;
          border-radius: 5px;
          overflow: hidden;
        }

        .oneDay {
          background-color: #b22828;
          height: 100%;
          transition: width 0.3s ease;
          border-radius: 5px;
        }

        .progress {
          height: 100%;
          background-color: #f3be2e;
          transition: width 0.3s ease;
          border-radius: 5px;
        }

        .complete {
          width: 100%;

          .completedSpan {
            display: block;
            font-size: 1.2rem;
            color: #615959;
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            text-align: end;
          }

          .completedBar {
            width: 100%;
            height: 5px;
            background-color: #28a87b;
            border-radius: 5px;
            color: #383233;
            font-size: 0.875rem;
          }
        }
      }
      @media (max-width: 768px) {
        width: calc(50% - 0.6rem);
        gap: 12rem;
      }
    }
  }
  @media (max-width: 768px) {
    transform: translateY(-4%);
  }
}

.dueInContainer {
  width: 100%;

  span {
    display: block;
    font-size: 1.2rem;
    color: #383233;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
  }
}

.progressBar {
  width: 100%;
  height: 5px;
  background-color: #e2e8f0;
  border-radius: 5px;
  overflow: hidden;
}

.oneDay {
  background-color: #b22828;
  height: 100%;
  transition: width 0.3s ease;
  border-radius: 5px;
}

.progress {
  height: 100%;
  background-color: #f3be2e;
  transition: width 0.3s ease;
  border-radius: 5px;
}

.complete {
  width: 100%;

  .completedSpan {
    display: block;
    font-size: 1.2rem;
    color: #383233;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
  }

  .completedBar {
    width: 100%;
    height: 5px;
    background-color: #28a87b;
    border-radius: 5px;
    color: #383233;
    font-size: 0.875rem;
  }
}
