body {
    margin: auto;
}

.bgcolor {
    background-color: #012551;
    padding-top: 100px;
    color: white;
}

.main {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.maintext {
    font-size: 64px;
    font-weight: 600;
}

.sidetext {
    font-weight: 300;
    font-size: 24px;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ass {
    border-radius: 50px;
    border: none;
    background-color: white;
    color: #012551;
    padding: 14px;
    font-size: 15px;
    cursor: pointer;
}

.plag {
    border-radius: 50px;
    border: white solid 1px;
    color: white;
    background-color: #012551;
    padding: 14px;   
    font-size: 15px;
    cursor: pointer;
}


/* .slider-container {
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
} */

.slider {
    display: flex;
    gap: 30px;
    animation: slide 20s linear infinite;
}

.slider-item {
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* .relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 100px;
    left: 0;
    padding-left: 50px;
}

.buildingimg {
    max-width: 100%;
}

.slidertext{
    font-size: 20px;
}

.heroimg{
    top: 0;
    right: 100px;
} */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 100px;
    left: 0;
    padding-left: 50px;
    /* width: 100%; */
}

.buildingimg {
    max-width: 100%;
}

.slidertext {
    font-size: 20px;
    display: block;
}

.slider-hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* gap: 20px; */
}

.slider-container {
    flex: 1;
    width: 100%;
    max-width: 450px;
    overflow: hidden;
}

.heroimg {
    /* padding-left: 150px; */
    width:30%;
    height: auto;
    object-fit: contain;
    padding-left: 200px;
}