/* body, html {
    margin: 0;
    padding: 0;
    background-color: #012551;

}

.img {
    width: 100%;
    display: block; 
    vertical-align: bottom;
  }
.background{
    background-color: #E6E3E1 !important;
    width: 100%;
    height: calc(100vh - 80px);
}

.container{
    margin: auto;
    padding: 75px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-text{
    font-weight: 600;
    font-size: 40px;
}

.box-text1{
margin-top: 10px;
font-weight: 400;
font-size: 24px;
}

.bottom-box{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;

}

.content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.numbers{
    font-weight: 600;
    font-size: 48px;
}
.content-text{
    font-size: 24px;
    font-weight: 400;
} */


body, html {
    margin: 0;
    padding: 0;
    background-color: #012551;
}

