.main {
    background-color: #2956A8;

    .cardContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;
        width: 100%;
        margin-top: calc(104px + 8rem);
        padding: 0 1rem 0 3rem;

        .content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            .heading {
                font-size: 2.5rem;
                line-height: 2.2rem;
            }

            .title {
                font-size: 3.8rem;
                line-height: 3.2rem;
            }
        }

        @media (max-width: 768px) {
            .img {
                img {
                    width: 110px;
                }
            }
        }

        @media (max-width: 450px) {

            .cardContainer {
                gap: 0px !important;
            }

        }
    }

    .privacyPolicy {
        .img {
            width: 100%;
            margin: 0;
            padding-right: 2px;
            display: block;
        }

        .background {
            background-color: #E6E3E1 !important;
            width: 100%;
            height: auto;
            min-height: calc(100vh - 80px);

            .detailContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3.6rem;
                margin-bottom: 3.6rem;

                h2 {
                    font-size: 4rem;

                    &.link {
                        color: #2956A8;
                    }
                }

                .para {
                    font-size: 2rem;
                    text-align: justify;
                    color: #444444;
                    line-height: 2.9rem;
                    font-weight: 400;

                    a {
                        text-decoration: none;
                        color: var(--primary);
                    }
                }

                .paraCont {
                    display: flex;
                    flex-direction: column;
                    font-size: 2rem;
                    text-align: justify;
                    color: #444444;
                    line-height: 2.9rem;
                    font-weight: 400;
                    gap: 16px;

                    a {
                        text-decoration: none;
                        color: var(--primary);
                    }
                }

                .bulletList {
                    list-style-type: disc;
                    padding-left: 2rem;
                }

                .bulletList li {
                    margin-bottom: 1.6rem;
                    text-align: left;
                }

                .bulletListNum {
                    padding-left: 2rem;
                }

                .bulletListNum li {
                    margin-bottom: 1.6rem;
                    text-align: left;
                }

            }

            .contentContainer {
                display: flex;
                flex-direction: column;
                gap: 3.6rem;
                margin-bottom: 3.6rem;

                h2 {
                    font-size: 2.8rem;
                    text-align: center;
                    line-height: 3rem;

                    &.link {
                        color: #2956A8;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .para {
                    font-size: 2rem;
                    text-align: justify;
                    color: #444444;
                    line-height: 2.9rem;
                    font-weight: 400;
                }

                .paraCont {
                    display: flex;
                    flex-direction: column;
                    font-size: 2rem;
                    text-align: justify;
                    color: #444444;
                    line-height: 2.9rem;
                    font-weight: 400;
                    gap: 16px;

                    a {
                        text-decoration: none;
                        color: var(--primary);
                    }
                }

                .bulletList {
                    list-style-type: disc;
                    padding-left: 2rem; // Indent the bullet points slightly
                }

                .bulletList li {
                    margin-bottom: 1.6rem;
                    text-align: justify;
                }

            }
        }
    }
}

.noteContainer {
    display: flex;
    flex-direction: row;
    gap: 3.6rem;
    margin: 3.6rem 0;
    justify-content: center;

    h2 {
        font-size: 2.8rem;
        text-align: center;
        line-height: 3rem;
    }

    .para {
        font-size: 2rem;
        text-align: justify;
        color: #444444;
        line-height: 2.9rem;
        font-weight: 400;
    }

    .paraCont {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: justify;
        color: #444444;
        line-height: 2.9rem;
        font-weight: 400;
        gap: 16px;

        a {
            text-decoration: none;
            color: var(--primary);
        }
    }
}

.note {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    color: #b22b28;

    h2 {
        font-size: 2.8rem;
        text-align: center;
        line-height: 3rem;

        &.link {
            color: #2956A8;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .para {
        font-size: 2rem;
        text-align: justify;
        color: #444444;
        line-height: 2.9rem;
        font-weight: 400;
    }

    .paraCont {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-align: justify;
        color: #444444;
        line-height: 2.9rem;
        font-weight: 400;
        gap: 16px;

        a {
            text-decoration: none;
            color: var(--primary);
        }
    }

    .bulletList {
        list-style-type: disc;
        padding-left: 2rem; // Indent the bullet points slightly
    }

    .bulletList li {
        margin-bottom: 1.6rem;
        text-align: justify;
    }
}