.speedometer {
    position: relative;
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        display: block;
        transform: rotate(270deg) translateX(-50px);
    }

    .percentage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -125%);
        text-align: center;

        span {
            display: block;
            font-size: 40px;
            line-height: 53px;
            font-weight: 600;
            color: #231F20;
        }

        .label {
            font-size: 14px;
            font-weight: 400;
            color: #666666;
        }
    }

    .legend {
        display: flex;
        justify-content: center;
        font-size: 10px;
        color: #666;
    }

    .legendItem {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }

    .colorIndicator {
        width: 14px;
        height: 14px;
        margin-right: 5px;
        border-radius: 0.4rem;
    }
}