.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .section4{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
  
      .section4Title{
          margin-top: 20rem;
          margin-bottom: 4rem;
          font-size: 4rem;
          line-height: 4.8rem;
      }
  
      .section4Desc{
          margin-top: 2rem;
          margin-bottom: 2rem;
          color: #444444;
          font-size: 2rem;
          line-height: 2.8rem;
          text-align: center;
          // text-justify: auto !important;
      }
  
      .section4Row{
          display: flex;
          flex-direction: row;
          // justify-content: space-between;
          gap: 2rem;
  
          .section4Content{
              display: flex;
              align-items: start;
              flex-direction: column;
              gap: 1.5rem;
              // max-width: 400px;
          }
          .section4ContentText{
              font-size: 2rem;
              line-height: 2rem;
              text-align: start;
          }
          .section4ContentDate{
              font-size: 1.5rem;
              color: #666666;
              line-height: 2.1rem;
          }
      }
  
  }
  
    .imageContainer {
      width: 100%;
      margin-bottom: 2rem;
  
      .image {
        width: 100%;
        height: 16rem;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
        transform: translateX(100%);
        
        &.left {
          transform: translateX(-100%);
        }
  
        &.right {
          transform: translateX(100%);
        }
  
        &.left, &.right {
          animation: slideIn 0.5s forwards;
        }

      }
  
      .content {
        text-align: center;
        margin-top: 1rem;
        font-weight: 600;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
        transform: translateY(20px);
  
        &.left, &.right {
          animation: fadeIn 0.5s forwards;
        }
  
      }
    }
  
    .timelineContainer {
      position: relative;
      width: 100%;
      overflow-x: auto;
      padding: 2rem 0;
  
      .timelineDots {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: max-content;
        padding: 0 1rem;
        position: relative;
  
        .timelineLine {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          height: 1px;
          background-color: #444444;
        }
  
        .timelineEvent {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          margin: 0 1rem;
  
          .dotContainer {
            position: relative;
            margin-bottom: 0.5rem;
  
            .logo {
              position: absolute;
              top: -2rem;
              left: -82%;
              transform: translateX(-50%);
              opacity: 0;
              animation: fadeIn 0.5s forwards;

              img {
                width: 3rem;
                height: 3rem;
              }
            }
  
            .dot {
              width: 1rem;
              height: 1rem;
              border-radius: 50%;
              // background-color: #d1d5db;
              position: relative;
              // z-index: 10;
              transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
              margin-top: 2rem;
              background-color: #6EC9F1;
              // color: #687B8B;
  
              &.activeDot {
                background-color: #2956A8;
              }
            }
          }
  
          .date {
            font-size: 1.8rem;
            color: #687B8B;
            transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
            // color: #687B8B;

  
            &.activeDate {
              color: #687B8B;
            }
          }
        }
      }
    }
  }
  
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }