.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: calc(84px + 6rem); // Reduced margin
    margin-bottom: 60px; // Added bottom margin
    padding: 0 1rem 0 3rem;
    padding-top: 8rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.heading {
    font-size: 3.8rem;
    line-height: 2.2rem;

    span {
        font-size: 4rem;
        line-height: 4.4rem;
    }
}

.title {
    font-size: 3.8rem;
    line-height: 3.2rem;
}

@media (max-width: 768px) {
    .img {
        img {
            width: 110px;
        }
    }
}


@media (max-width: 450px) {

    .cardContainer {
        gap: 0px !important;
    }
}